*/iseconfig
*/netgen
*/_ngo
*/xlnx_auto_0_xdb
*/_xmsgs
*/xst
*.asy
*.sym
*.veo
*.xco
*.wbd
*.ini
*.cmd
*.wdb
*.gise
*.bld
*.ncd
*.pad
*.ptwx
*.twx
*.xst
*.mrp
*.xrpt
*.html
*.xml
*.csv
*.xwbt
*.bgn
*.bit
*.txt
*.log
*.map
*.xmsgs
*.xpi
*.prj
*.pcf
*.par
*.stx
*.unroutes
*.syr
*.ut
*.ise
*.mini
*.v
*.psg
*.wpc
*.ppr
*.tcl
*.vdbx
*.vdbl
*.xbcd
*.projectmgr
*.xreport
*.xise
*.ngm
*.twr
*.ngr
*.ngd
*.ngc
*.lso
*.cmd_log
*.lst
*.sh
*.bat
*.drc
*.debug
*.jou
*.edif
*.xdl
*.exe
isim
*.rpt
*.htm
*.summary
*.qsf
*.qdf
*.bak
db
*.done
incremental_db
