<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>A</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>629.91744127053232</real>
					<key>controlPoint1Y</key>
					<real>387.81007992823061</real>
					<key>controlPoint2X</key>
					<real>551.9587206352661</real>
					<key>controlPoint2Y</key>
					<real>295.9050399641153</real>
					<key>dstPointX</key>
					<real>503.27833624121558</real>
					<key>dstPointY</key>
					<real>222.65845878560577</real>
					<key>srcPointX</key>
					<real>707.87858008368562</real>
					<key>srcPointY</key>
					<real>479.71385653746557</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>744</real>
			<key>y</key>
			<real>497</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>B</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>609.38969894384093</real>
					<key>controlPoint1Y</key>
					<real>421.31224269510045</real>
					<key>controlPoint2X</key>
					<real>545.69484947192052</real>
					<key>controlPoint2Y</key>
					<real>315.65612134755025</real>
					<key>dstPointX</key>
					<real>498.05684462077977</real>
					<key>dstPointY</key>
					<real>224.69307535098045</real>
					<key>srcPointX</key>
					<real>673.13401755029838</real>
					<key>srcPointY</key>
					<real>526.94991837726013</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>703</real>
			<key>y</key>
			<real>547</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>C</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>577.95263456666487</real>
					<key>controlPoint1Y</key>
					<real>445.29748771283818</real>
					<key>controlPoint2X</key>
					<real>530.47631728333238</real>
					<key>controlPoint2Y</key>
					<real>324.14874385641912</real>
					<key>dstPointX</key>
					<real>492.48012812662733</real>
					<key>dstPointY</key>
					<real>226.33071785349958</real>
					<key>srcPointX</key>
					<real>625.34556533403747</real>
					<key>srcPointY</key>
					<real>566.46621725443356</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>647</real>
			<key>y</key>
			<real>589</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>653.69742812765321</real>
					<key>controlPoint1Y</key>
					<real>138.02298283329975</real>
					<key>controlPoint2X</key>
					<real>790.34871406382661</real>
					<key>controlPoint2Y</key>
					<real>80.511491416649875</real>
					<key>dstPointX</key>
					<real>900.56232137575114</real>
					<key>dstPointY</key>
					<real>35.900421614421703</real>
					<key>srcPointX</key>
					<real>517.05693469746416</real>
					<key>srcPointY</key>
					<real>195.54948378975286</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>657.31199696960823</real>
					<key>controlPoint1Y</key>
					<real>156.23925337114599</real>
					<key>controlPoint2X</key>
					<real>796.15599848480417</real>
					<key>controlPoint2Y</key>
					<real>114.619626685573</real>
					<key>dstPointX</key>
					<real>880.79785900055924</real>
					<key>dstPointY</key>
					<real>84.643673740296663</real>
					<key>srcPointX</key>
					<real>518.44982576592349</real>
					<key>srcPointY</key>
					<real>197.82314029518929</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>655.6211902778665</real>
					<key>controlPoint1Y</key>
					<real>175.49448185648262</real>
					<key>controlPoint2X</key>
					<real>791.81059513893331</real>
					<key>controlPoint2Y</key>
					<real>150.74724092824133</real>
					<key>dstPointX</key>
					<real>875.65347568856703</real>
					<key>dstPointY</key>
					<real>133.02866412043616</real>
					<key>srcPointX</key>
					<real>519.4206472871366</real>
					<key>srcPointY</key>
					<real>200.2052792684957</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>646.27208106121986</real>
					<key>controlPoint1Y</key>
					<real>193.32341589033012</real>
					<key>controlPoint2X</key>
					<real>772.63604053060988</real>
					<key>controlPoint2Y</key>
					<real>184.16170794516506</real>
					<key>dstPointX</key>
					<real>870.07651063561559</real>
					<key>dstPointY</key>
					<real>177.38249861520686</real>
					<key>srcPointX</key>
					<real>519.90853716279832</real>
					<key>srcPointY</key>
					<real>202.48855050782504</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>644.30910614639822</real>
					<key>controlPoint1Y</key>
					<real>210.63532645920978</real>
					<key>controlPoint2X</key>
					<real>768.65455307319917</real>
					<key>controlPoint2Y</key>
					<real>216.3176632296049</real>
					<key>dstPointX</key>
					<real>857.0582247816543</real>
					<key>dstPointY</key>
					<real>221.79386070039249</real>
					<key>srcPointX</key>
					<real>519.9638129839218</real>
					<key>srcPointY</key>
					<real>204.950972148342</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>644.00083609197873</real>
					<key>controlPoint1Y</key>
					<real>228.68152031169893</real>
					<key>controlPoint2X</key>
					<real>768.50041804598948</real>
					<key>controlPoint2Y</key>
					<real>249.84076015584947</real>
					<key>dstPointX</key>
					<real>850.42032382450759</real>
					<key>dstPointY</key>
					<real>263.76520053429476</real>
					<key>srcPointX</key>
					<real>519.50445040426655</real>
					<key>srcPointY</key>
					<real>207.51103226172577</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>636.55344441989337</real>
					<key>controlPoint1Y</key>
					<real>240.58414451131731</real>
					<key>controlPoint2X</key>
					<real>754.2767222099468</real>
					<key>controlPoint2Y</key>
					<real>271.79207225565864</real>
					<key>dstPointX</key>
					<real>839.92392388807991</real>
					<key>dstPointY</key>
					<real>303.1317595834002</real>
					<key>srcPointX</key>
					<real>518.83576556475577</real>
					<key>srcPointY</key>
					<real>209.3634877110006</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>630.1794593663052</real>
					<key>controlPoint1Y</key>
					<real>259.09932272472696</real>
					<key>controlPoint2X</key>
					<real>743.08972968315265</real>
					<key>controlPoint2Y</key>
					<real>306.04966136236345</real>
					<key>dstPointX</key>
					<real>817.65405484954806</real>
					<key>dstPointY</key>
					<real>345.61845737483293</real>
					<key>srcPointX</key>
					<real>517.28091391454154</real>
					<key>srcPointY</key>
					<real>212.13196131640012</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>617.72173199666088</real>
					<key>controlPoint1Y</key>
					<real>278.87869214239237</real>
					<key>controlPoint2X</key>
					<real>720.8608659983305</real>
					<key>controlPoint2Y</key>
					<real>342.43934607119621</real>
					<key>dstPointX</key>
					<real>778.72987646451588</real>
					<key>dstPointY</key>
					<real>388.47306492768541</real>
					<key>srcPointX</key>
					<real>514.597769617989</real>
					<key>srcPointY</key>
					<real>215.3030852547079</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>598.45295814423821</real>
					<key>controlPoint1Y</key>
					<real>295.35734596724802</real>
					<key>controlPoint2X</key>
					<real>686.2264790721191</real>
					<key>controlPoint2Y</key>
					<real>372.17867298362398</real>
					<key>dstPointX</key>
					<real>745.53190065226624</real>
					<key>dstPointY</key>
					<real>433.65179868944392</real>
					<key>srcPointX</key>
					<real>510.74581556934737</real>
					<key>srcPointY</key>
					<real>218.48946611843178</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>581.21895981822252</real>
					<key>controlPoint1Y</key>
					<real>315.79407264703633</real>
					<key>controlPoint2X</key>
					<real>657.1094799091112</real>
					<key>controlPoint2Y</key>
					<real>409.89703632351819</real>
					<key>dstPointX</key>
					<real>708.68785563196013</real>
					<key>dstPointY</key>
					<real>479.30075947864776</real>
					<key>srcPointX</key>
					<real>505.26404637041031</real>
					<key>srcPointY</key>
					<real>221.72319831171529</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>565.6463120509153</real>
					<key>controlPoint1Y</key>
					<real>335.79748512530648</real>
					<key>controlPoint2X</key>
					<real>631.82315602545759</real>
					<key>controlPoint2Y</key>
					<real>447.39874256265324</real>
					<key>dstPointX</key>
					<real>673.9291422605603</real>
					<key>dstPointY</key>
					<real>526.65985969632175</real>
					<key>srcPointX</key>
					<real>499.3671193201784</real>
					<key>srcPointY</key>
					<real>224.23346425377031</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>542.85728008155718</real>
					<key>controlPoint1Y</key>
					<real>348.91955377758728</real>
					<key>controlPoint2X</key>
					<real>593.42864004077853</real>
					<key>controlPoint2Y</key>
					<real>471.45977688879367</real>
					<key>dstPointX</key>
					<real>626.26367307300598</real>
					<key>dstPointY</key>
					<real>566.25134759168782</real>
					<key>srcPointX</key>
					<real>492.45865207196488</real>
					<key>srcPointY</key>
					<real>226.33611955505268</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>512.76848283452262</real>
					<key>controlPoint1Y</key>
					<real>361.4130163206608</real>
					<key>controlPoint2X</key>
					<real>542.38424141726136</real>
					<key>controlPoint2Y</key>
					<real>494.70650816033043</real>
					<key>dstPointX</key>
					<real>570.45048341401025</real>
					<key>dstPointY</key>
					<real>604.239673119136</real>
					<key>srcPointX</key>
					<real>483.10954824075156</real>
					<key>srcPointY</key>
					<real>228.1254002294439</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>484.40736726957584</real>
					<key>controlPoint1Y</key>
					<real>373.61023533334429</real>
					<key>controlPoint2X</key>
					<real>494.70368363478792</real>
					<key>controlPoint2Y</key>
					<real>518.30511766667212</real>
					<key>dstPointX</key>
					<real>500.70347299598012</real>
					<key>dstPointY</key>
					<real>634.05439462694994</real>
					<key>srcPointX</key>
					<real>474.23195829558898</real>
					<key>srcPointY</key>
					<real>228.91029169331622</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>447.43447637789194</real>
					<key>controlPoint1Y</key>
					<real>383.53178511588141</real>
					<key>controlPoint2X</key>
					<real>431.21723818894594</real>
					<key>controlPoint2Y</key>
					<real>538.26589255794067</real>
					<key>dstPointX</key>
					<real>421.05538038160114</real>
					<key>dstPointY</key>
					<real>663.12811261083448</real>
					<key>srcPointX</key>
					<real>463.76451344425902</real>
					<key>srcPointY</key>
					<real>228.80483172394631</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>470</real>
			<key>y</key>
			<real>204</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>D</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>540.37734354800216</real>
					<key>controlPoint1Y</key>
					<real>470.66026492308174</real>
					<key>controlPoint2X</key>
					<real>508.68867177400108</real>
					<key>controlPoint2Y</key>
					<real>337.33013246154087</real>
					<key>dstPointX</key>
					<real>483.93384111610885</real>
					<key>dstPointY</key>
					<real>228.00962344431412</real>
					<key>srcPointX</key>
					<real>572.07542918118929</real>
					<key>srcPointY</key>
					<real>603.98903205037368</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>586</real>
			<key>y</key>
			<real>628</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>E</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>490.67422840058185</real>
					<key>controlPoint1Y</key>
					<real>492.05311593189202</real>
					<key>controlPoint2X</key>
					<real>481.33711420029096</real>
					<key>controlPoint2Y</key>
					<real>350.02655796594598</real>
					<key>dstPointX</key>
					<real>473.87022076447221</real>
					<key>dstPointY</key>
					<real>228.9249944394891</real>
					<key>srcPointX</key>
					<real>500.02163220759826</real>
					<key>srcPointY</key>
					<real>634.0792627029798</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>504</real>
			<key>y</key>
			<real>659</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Eight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>681.78102994335165</real>
					<key>controlPoint1Y</key>
					<real>327.95673029440019</real>
					<key>controlPoint2X</key>
					<real>585.89051497167577</real>
					<key>controlPoint2Y</key>
					<real>266.47836514720012</real>
					<key>dstPointX</key>
					<real>514.01153613302768</real>
					<key>dstPointY</key>
					<real>215.86364917733152</real>
					<key>srcPointX</key>
					<real>777.65592274854282</real>
					<key>srcPointY</key>
					<real>389.45007778471216</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>822</real>
			<key>y</key>
			<real>401</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>F</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>437.41979763051876</real>
					<key>controlPoint1Y</key>
					<real>511.79238474612299</real>
					<key>controlPoint2X</key>
					<real>452.70989881525935</real>
					<key>controlPoint2Y</key>
					<real>360.39619237306152</real>
					<key>dstPointX</key>
					<real>464.50581251973438</real>
					<key>dstPointY</key>
					<real>228.84861114796809</real>
					<key>srcPointX</key>
					<real>422.03358481544876</real>
					<key>srcPointY</key>
					<real>663.18268822840196</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>416</real>
			<key>y</key>
			<real>688</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Five</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>728.32177359555146</real>
					<key>controlPoint1Y</key>
					<real>243.02313665393703</real>
					<key>controlPoint2X</key>
					<real>606.16088679777579</real>
					<key>controlPoint2Y</key>
					<real>222.5115683269685</real>
					<key>dstPointX</key>
					<real>519.54422376261061</real>
					<key>dstPointY</key>
					<real>207.36785880643649</real>
					<key>srcPointX</key>
					<real>850.48061476042801</real>
					<key>srcPointY</key>
					<real>263.54202062271685</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>900</real>
			<key>y</key>
			<real>267</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Four</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>728.70076133885925</real>
					<key>controlPoint1Y</key>
					<real>214.91303948770067</real>
					<key>controlPoint2X</key>
					<real>600.35038066942968</real>
					<key>controlPoint2Y</key>
					<real>207.95651974385032</real>
					<key>dstPointX</key>
					<real>519.97698334993356</real>
					<key>dstPointY</key>
					<real>204.75847466016822</real>
					<key>srcPointX</key>
					<real>857.05135021209014</real>
					<key>srcPointY</key>
					<real>221.86726168459649</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>907</real>
			<key>y</key>
			<real>223</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>343.70844303620169</real>
					<key>controlPoint1Y</key>
					<real>146.29502349268816</real>
					<key>controlPoint2X</key>
					<real>400.35422151810081</real>
					<key>controlPoint2Y</key>
					<real>175.14751174634409</real>
					<key>dstPointX</key>
					<real>423.80702291838884</real>
					<key>dstPointY</key>
					<real>194.43170772371388</real>
					<key>srcPointX</key>
					<real>287.05015358174563</real>
					<key>srcPointY</key>
					<real>117.45995047169527</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>240</real>
			<key>y</key>
			<real>109</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.05148094735617</real>
					<key>controlPoint1Y</key>
					<real>164.27287456177388</real>
					<key>controlPoint2X</key>
					<real>165.52574047367807</real>
					<key>controlPoint2Y</key>
					<real>149.63643728088695</real>
					<key>dstPointX</key>
					<real>196.10871856348493</real>
					<key>dstPointY</key>
					<real>120.97450848532652</real>
					<key>srcPointX</key>
					<real>138.50178346938418</real>
					<key>srcPointY</key>
					<real>178.81326861491925</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>92</real>
			<key>y</key>
			<real>188</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Nine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>660.59107690355711</real>
					<key>controlPoint1Y</key>
					<real>356.38392591184328</real>
					<key>controlPoint2X</key>
					<real>576.29553845177861</real>
					<key>controlPoint2Y</key>
					<real>278.69196295592161</real>
					<key>dstPointX</key>
					<real>510.90998300185942</real>
					<key>dstPointY</key>
					<real>218.37335460833322</real>
					<key>srcPointX</key>
					<real>744.89338676170109</real>
					<key>srcPointY</key>
					<real>434.07133985789824</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>785</real>
			<key>y</key>
			<real>449</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>One</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>746.67048498436361</real>
					<key>controlPoint1Y</key>
					<real>123.72602529719107</real>
					<key>controlPoint2X</key>
					<real>612.83524249218181</real>
					<key>controlPoint2Y</key>
					<real>163.36301264859551</real>
					<key>dstPointX</key>
					<real>518.09156069357607</real>
					<key>dstPointY</key>
					<real>197.15891474150322</real>
					<key>srcPointX</key>
					<real>880.50187862291614</real>
					<key>srcPointY</key>
					<real>84.081369559844987</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>929</real>
			<key>y</key>
			<real>78</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>300</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Seven</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>702.26843810465925</real>
					<key>controlPoint1Y</key>
					<real>302.56227907378968</real>
					<key>controlPoint2X</key>
					<real>588.13421905232963</real>
					<key>controlPoint2Y</key>
					<real>257.78113953689484</real>
					<key>dstPointX</key>
					<real>515.50616035807502</real>
					<key>dstPointY</key>
					<real>214.35844304740289</real>
					<key>srcPointX</key>
					<real>816.43749925973998</real>
					<key>srcPointY</key>
					<real>347.28947921128599</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>864</real>
			<key>y</key>
			<real>355</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Six</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>718.90772871922354</real>
					<key>controlPoint1Y</key>
					<real>269.80366017817437</real>
					<key>controlPoint2X</key>
					<real>598.45386435961177</real>
					<key>controlPoint2Y</key>
					<real>235.40183008908718</real>
					<key>dstPointX</key>
					<real>518.56977618668805</real>
					<key>dstPointY</key>
					<real>209.93668344227297</real>
					<key>srcPointX</key>
					<real>839.35556168411642</real>
					<key>srcPointY</key>
					<real>304.21816160438141</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>888</real>
			<key>y</key>
			<real>310</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Three</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>735.3965440791917</real>
					<key>controlPoint1Y</key>
					<real>187.35925415453539</real>
					<key>controlPoint2X</key>
					<real>600.69827203959585</real>
					<key>controlPoint2Y</key>
					<real>197.1796270772677</real>
					<key>dstPointX</key>
					<real>519.93205919812135</real>
					<key>dstPointY</key>
					<real>202.69716998083965</real>
					<key>srcPointX</key>
					<real>870.09439061852038</real>
					<key>srcPointY</key>
					<real>177.53542764915619</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>920</real>
			<key>y</key>
			<real>176</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Two</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>740.67877808088963</real>
					<key>controlPoint1Y</key>
					<real>155.72656951910108</real>
					<key>controlPoint2X</key>
					<real>605.83938904044487</real>
					<key>controlPoint2Y</key>
					<real>178.86328475955054</real>
					<key>dstPointX</key>
					<real>519.1653133906733</real>
					<key>dstPointY</key>
					<real>199.45104519705677</real>
					<key>srcPointX</key>
					<real>875.51747885730765</real>
					<key>srcPointY</key>
					<real>132.58748175476217</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>925</real>
			<key>y</key>
			<real>129</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>759.70839930162037</real>
					<key>controlPoint1Y</key>
					<real>90.600558850645953</real>
					<key>controlPoint2X</key>
					<real>618.85419965081019</real>
					<key>controlPoint2Y</key>
					<real>145.30027942532297</real>
					<key>dstPointX</key>
					<real>516.51400315005765</real>
					<key>dstPointY</key>
					<real>194.82874720994417</real>
					<key>srcPointX</key>
					<real>900.55350424491803</real>
					<key>srcPointY</key>
					<real>35.88717377396668</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>948</real>
			<key>y</key>
			<real>28</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
