<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CheckEnable</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>921</real>
					<key>controlPoint1Y</key>
					<real>163</real>
					<key>controlPoint2X</key>
					<real>814</real>
					<key>controlPoint2Y</key>
					<real>94</real>
					<key>dstPointX</key>
					<real>686.93761694389218</real>
					<key>dstPointY</key>
					<real>93.248440423597302</real>
					<key>srcPointX</key>
					<real>906.3720583438618</real>
					<key>srcPointY</key>
					<real>272.03455426668728</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>909</real>
			<key>y</key>
			<real>297</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>EncodeWithCarry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>800.90256985013093</real>
					<key>controlPoint1Y</key>
					<real>277.61348069956352</real>
					<key>controlPoint2X</key>
					<real>839.76488265631485</real>
					<key>controlPoint2Y</key>
					<real>289.06339764576336</real>
					<key>dstPointX</key>
					<real>859.19603905940687</real>
					<key>dstPointY</key>
					<real>294.78835611886331</real>
					<key>srcPointX</key>
					<real>781.47141344703891</real>
					<key>srcPointY</key>
					<real>271.88852222646358</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>754</real>
			<key>y</key>
			<real>251</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>EncodeWithoutCarry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>759.60287364090937</real>
					<key>controlPoint1Y</key>
					<real>360.36677141704496</real>
					<key>controlPoint2X</key>
					<real>827.24950009843008</real>
					<key>controlPoint2Y</key>
					<real>322.87134801844388</real>
					<key>dstPointX</key>
					<real>861.07281332719049</real>
					<key>dstPointY</key>
					<real>304.12363631914337</real>
					<key>srcPointX</key>
					<real>725.77956041214907</real>
					<key>srcPointY</key>
					<real>379.11448311634547</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>721</real>
			<key>y</key>
			<real>404</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>194.05057346409353</real>
					<key>controlPoint1Y</key>
					<real>111.8329252388174</real>
					<key>controlPoint2X</key>
					<real>238.52528673204677</real>
					<key>controlPoint2Y</key>
					<real>120.4164626194087</real>
					<key>dstPointX</key>
					<real>250.48038061261576</real>
					<key>dstPointY</key>
					<real>125.54285899446523</real>
					<key>srcPointX</key>
					<real>149.60890482385304</real>
					<key>srcPointY</key>
					<real>103.12075961017065</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>93.365326401967465</real>
					<key>controlPoint1Y</key>
					<real>159.8155833825372</real>
					<key>controlPoint2X</key>
					<real>95.84362262374853</real>
					<key>controlPoint2Y</key>
					<real>136.57680285639404</real>
					<key>dstPointX</key>
					<real>97.082770734639027</real>
					<key>dstPointY</key>
					<real>124.95741259332246</real>
					<key>srcPointX</key>
					<real>92.12617829107694</real>
					<key>srcPointY</key>
					<real>171.43497364560878</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>61</real>
			<key>y</key>
			<real>191</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ResetRegisters</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>343.14540662012837</real>
					<key>controlPoint1Y</key>
					<real>168.45100573935017</real>
					<key>controlPoint2X</key>
					<real>359.62337275954263</real>
					<key>controlPoint2Y</key>
					<real>211.55439161707807</real>
					<key>dstPointX</key>
					<real>367.86235582924979</real>
					<key>dstPointY</key>
					<real>233.10608455594198</real>
					<key>srcPointX</key>
					<real>334.90642355042121</real>
					<key>srcPointY</key>
					<real>146.89931280048623</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>129</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>180</real>
			<key>y</key>
			<real>369</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetBusy</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>453.71577380311118</real>
					<key>controlPoint1Y</key>
					<real>267.3509810255099</real>
					<key>controlPoint2X</key>
					<real>479.37806619928654</real>
					<key>controlPoint2Y</key>
					<real>281.55088690080044</real>
					<key>dstPointX</key>
					<real>492.20921239737419</real>
					<key>dstPointY</key>
					<real>288.65083983844573</real>
					<key>srcPointX</key>
					<real>440.88462760502352</real>
					<key>srcPointY</key>
					<real>260.2510280878646</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>392</real>
			<key>y</key>
			<real>255</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetCarry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>553.44655149696928</real>
					<key>controlPoint1Y</key>
					<real>272.10972412562148</real>
					<key>controlPoint2X</key>
					<real>653.81810386121106</real>
					<key>controlPoint2Y</key>
					<real>258.24420399315449</real>
					<key>dstPointX</key>
					<real>704.00388004333195</real>
					<key>dstPointY</key>
					<real>251.31144392692104</real>
					<key>srcPointX</key>
					<real>569.40858488375227</real>
					<key>srcPointY</key>
					<real>275.78159789242028</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>568.56897236331838</real>
					<key>controlPoint1Y</key>
					<real>339.73481486929063</real>
					<key>controlPoint2X</key>
					<real>638.37356162119613</real>
					<key>controlPoint2Y</key>
					<real>377.60717624478758</real>
					<key>dstPointX</key>
					<real>673.27585625013512</real>
					<key>dstPointY</key>
					<real>396.54335693253608</real>
					<key>srcPointX</key>
					<real>533.66667773437939</real>
					<key>srcPointY</key>
					<real>320.79863418154213</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>540</real>
			<key>y</key>
			<real>296</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForEnable</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>495.82187087288071</real>
					<key>controlPoint1Y</key>
					<real>105.60646029637449</real>
					<key>controlPoint2X</key>
					<real>404.4109354364403</real>
					<key>controlPoint2Y</key>
					<real>116.80323014818725</real>
					<key>dstPointX</key>
					<real>349.66230817712903</real>
					<key>dstPointY</key>
					<real>126.09934720623698</real>
					<key>srcPointX</key>
					<real>587.23061245508597</real>
					<key>srcPointY</key>
					<real>94.398336058820405</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>530.82941972250262</real>
					<key>controlPoint1Y</key>
					<real>154.02615677959247</real>
					<key>controlPoint2X</key>
					<real>467.91470986125131</real>
					<key>controlPoint2Y</key>
					<real>203.51307838979622</real>
					<key>dstPointX</key>
					<real>433.38053237214916</real>
					<key>dstPointY</key>
					<real>240.96743483359586</real>
					<key>srcPointX</key>
					<real>593.82757970468379</real>
					<key>srcPointY</key>
					<real>104.61092904829542</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>637</real>
			<key>y</key>
			<real>92</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
