<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ConvertToBcd</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>739.82818603515625</real>
					<key>controlPoint1Y</key>
					<real>204</real>
					<key>controlPoint2X</key>
					<real>737.12060546875</real>
					<key>controlPoint2Y</key>
					<real>194</real>
					<key>dstPointX</key>
					<real>737.12060546875</real>
					<key>dstPointY</key>
					<real>174</real>
					<key>srcPointX</key>
					<real>739.82818603515625</real>
					<key>srcPointY</key>
					<real>224</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>402</real>
					<key>controlPoint1Y</key>
					<real>286.29595947265625</real>
					<key>controlPoint2X</key>
					<real>372.2286376953125</real>
					<key>controlPoint2Y</key>
					<real>284.41433715820312</real>
					<key>dstPointX</key>
					<real>352.2286376953125</real>
					<key>dstPointY</key>
					<real>284.41433715820312</real>
					<key>srcPointX</key>
					<real>422</real>
					<key>srcPointY</key>
					<real>286.29595947265625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>131</real>
			<key>internalHeight</key>
			<real>3</real>
			<key>onEntryHeight</key>
			<real>65</real>
			<key>onExitHeight</key>
			<real>15</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>510</real>
			<key>x</key>
			<real>672</real>
			<key>y</key>
			<real>284.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FindSignificantBits</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>671.5428466796875</real>
					<key>controlPoint1Y</key>
					<real>194</real>
					<key>controlPoint2X</key>
					<real>673.8341064453125</real>
					<key>controlPoint2Y</key>
					<real>204</real>
					<key>dstPointX</key>
					<real>673.8341064453125</real>
					<key>dstPointY</key>
					<real>224</real>
					<key>srcPointX</key>
					<real>671.5428466796875</real>
					<key>srcPointY</key>
					<real>174</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>115</real>
			<key>internalHeight</key>
			<real>11.5</real>
			<key>onEntryHeight</key>
			<real>29</real>
			<key>onExitHeight</key>
			<real>27</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>376</real>
			<key>x</key>
			<real>737.4571533203125</real>
			<key>y</key>
			<real>122.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>508.3143310546875</real>
					<key>controlPoint1Y</key>
					<real>133.89723205566406</real>
					<key>controlPoint2X</key>
					<real>533.5428466796875</real>
					<key>controlPoint2Y</key>
					<real>134</real>
					<key>dstPointX</key>
					<real>553.5428466796875</real>
					<key>dstPointY</key>
					<real>134</real>
					<key>srcPointX</key>
					<real>488.3143310546875</real>
					<key>srcPointY</key>
					<real>133.89723205566406</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>150</real>
			<key>internalHeight</key>
			<real>18</real>
			<key>onEntryHeight</key>
			<real>25</real>
			<key>onExitHeight</key>
			<real>59</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>276</real>
			<key>x</key>
			<real>355.6856689453125</real>
			<key>y</key>
			<real>134</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>47</real>
			<key>internalHeight</key>
			<real>18</real>
			<key>onEntryHeight</key>
			<real>17</real>
			<key>onExitHeight</key>
			<real>17</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>111</real>
			<key>x</key>
			<real>127.2713623046875</real>
			<key>y</key>
			<real>179.72857666015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>UpdateBcdVariable</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>115.43847680999859</real>
					<key>controlPoint1Y</key>
					<real>229.24061758763102</real>
					<key>controlPoint2X</key>
					<real>173.16032645442982</real>
					<key>controlPoint2Y</key>
					<real>205.97174059358676</real>
					<key>dstPointX</key>
					<real>161.50604065261973</real>
					<key>dstPointY</key>
					<real>193.17686900468161</real>
					<key>srcPointX</key>
					<real>127.5</real>
					<key>srcPointY</key>
					<real>228.91433715820312</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>110</real>
			<key>internalHeight</key>
			<real>7</real>
			<key>onEntryHeight</key>
			<real>37</real>
			<key>onExitHeight</key>
			<real>18</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>280</real>
			<key>x</key>
			<real>217.7713623046875</real>
			<key>y</key>
			<real>279.08566284179688</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
