<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindSmallestSigned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>378</real>
					<key>controlPoint1Y</key>
					<real>319</real>
					<key>controlPoint2X</key>
					<real>553</real>
					<key>controlPoint2Y</key>
					<real>336</real>
					<key>dstPointX</key>
					<real>600.54137229774835</real>
					<key>dstPointY</key>
					<real>289.97481832660168</real>
					<key>srcPointX</key>
					<real>345.49837512186485</real>
					<key>srcPointY</key>
					<real>261.99905007124408</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<true/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>313</real>
			<key>y</key>
			<real>243</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>FindSmallestUnsigned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>764</real>
					<key>controlPoint1Y</key>
					<real>161</real>
					<key>controlPoint2X</key>
					<real>706</real>
					<key>controlPoint2Y</key>
					<real>243</real>
					<key>dstPointX</key>
					<real>686.44015837042468</real>
					<key>dstPointY</key>
					<real>264.54277167012486</real>
					<key>srcPointX</key>
					<real>710.68660286377133</real>
					<key>srcPointY</key>
					<real>119.16018842599821</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>667</real>
			<key>y</key>
			<real>107</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>231</real>
					<key>controlPoint1Y</key>
					<real>146</real>
					<key>controlPoint2X</key>
					<real>257</real>
					<key>controlPoint2Y</key>
					<real>197</real>
					<key>dstPointX</key>
					<real>274.36368727373826</real>
					<key>dstPointY</key>
					<real>227.13151441599967</real>
					<key>srcPointX</key>
					<real>266.33710712338802</real>
					<key>srcPointY</key>
					<real>65.455861257495229</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>393.56435767499096</real>
					<key>controlPoint1Y</key>
					<real>102.35241783868234</real>
					<key>controlPoint2X</key>
					<real>493.78217883749545</real>
					<key>controlPoint2Y</key>
					<real>122.67620891934116</real>
					<key>dstPointX</key>
					<real>617.2035069191686</real>
					<key>dstPointY</key>
					<real>109.25329075191777</real>
					<key>srcPointX</key>
					<real>335.35399829666176</real>
					<key>srcPointY</key>
					<real>56.454224501078428</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>292</real>
			<key>y</key>
			<real>44</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>90.752181058008304</real>
					<key>controlPoint1Y</key>
					<real>134.63131599768596</real>
					<key>controlPoint2X</key>
					<real>97.876090529004159</real>
					<key>controlPoint2Y</key>
					<real>119.31565799884299</real>
					<key>dstPointX</key>
					<real>245.38542573395347</real>
					<key>dstPointY</key>
					<real>53.042696859831615</real>
					<key>srcPointX</key>
					<real>86.398190659255334</real>
					<key>srcPointY</key>
					<real>148.85221548312197</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>116</real>
			<key>y</key>
			<real>169</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>368</real>
			<key>y</key>
			<real>502</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetSmallestOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>529.8683967873626</real>
					<key>controlPoint1Y</key>
					<real>477.16417874402913</real>
					<key>controlPoint2X</key>
					<real>454.4341983936813</real>
					<key>controlPoint2Y</key>
					<real>488.58208937201454</real>
					<key>dstPointX</key>
					<real>417.40820071447234</real>
					<key>dstPointY</key>
					<real>498.16497385411731</real>
					<key>srcPointX</key>
					<real>605.31727777955302</real>
					<key>srcPointY</key>
					<real>465.81189939213249</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655</real>
			<key>y</key>
			<real>463</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>changeCurrentSensor</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>640.46707313991089</real>
					<key>controlPoint1Y</key>
					<real>351.66453644774515</real>
					<key>controlPoint2X</key>
					<real>639.73353656995539</real>
					<key>controlPoint2Y</key>
					<real>402.33226822387252</real>
					<key>dstPointX</key>
					<real>642.79836336582969</real>
					<key>dstPointY</key>
					<real>438.75582511484629</real>
					<key>srcPointX</key>
					<real>640.98723204060377</real>
					<key>srcPointY</key>
					<real>300.994870979165</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>504.49745484146206</real>
					<key>controlPoint1Y</key>
					<real>262.34814513305349</real>
					<key>controlPoint2X</key>
					<real>416.74872742073103</real>
					<key>controlPoint2Y</key>
					<real>251.17407256652675</real>
					<key>dstPointX</key>
					<real>362.84553315647298</real>
					<key>dstPointY</key>
					<real>244.9635951942135</real>
					<key>srcPointX</key>
					<real>592.24462763620375</real>
					<key>srcPointY</key>
					<real>273.53003436562477</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>652.80188910463687</real>
					<key>controlPoint1Y</key>
					<real>205.84050934729416</real>
					<key>controlPoint2X</key>
					<real>656.40094455231838</real>
					<key>controlPoint2Y</key>
					<real>160.42025467364707</real>
					<key>dstPointX</key>
					<real>657.26923599647159</real>
					<key>dstPointY</key>
					<real>131.52199131344983</real>
					<key>srcPointX</key>
					<real>649.60844725048321</real>
					<key>srcPointY</key>
					<real>251.29113756950446</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>642</real>
			<key>y</key>
			<real>276</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
