<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>993.22857666015625</real>
					<key>controlPoint1Y</key>
					<real>277.48025512695312</real>
					<key>controlPoint2X</key>
					<real>993.5999755859375</real>
					<key>controlPoint2Y</key>
					<real>277.8260498046875</real>
					<key>dstPointX</key>
					<real>973.5999755859375</real>
					<key>dstPointY</key>
					<real>277.8260498046875</real>
					<key>srcPointX</key>
					<real>1013.2285766601562</real>
					<key>srcPointY</key>
					<real>277.48025512695312</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>100</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>29</real>
			<key>onExitHeight</key>
			<real>19</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>250</real>
			<key>x</key>
			<real>1132.7714233398438</real>
			<key>y</key>
			<real>289</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ConvertToSigned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1106.0743926799312</real>
					<key>controlPoint1Y</key>
					<real>474.524169921875</real>
					<key>controlPoint2X</key>
					<real>1115.5107727050781</real>
					<key>controlPoint2Y</key>
					<real>419.07439267993118</real>
					<key>dstPointX</key>
					<real>1115.5107727050781</real>
					<key>dstPointY</key>
					<real>337</real>
					<key>srcPointX</key>
					<real>1024</real>
					<key>srcPointY</key>
					<real>474.524169921875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>864.4100341796875</real>
					<key>controlPoint1Y</key>
					<real>415.73915373015626</real>
					<key>controlPoint2X</key>
					<real>861.934326171875</real>
					<key>controlPoint2Y</key>
					<real>361.26084626984374</real>
					<key>dstPointX</key>
					<real>861.934326171875</real>
					<key>dstPointY</key>
					<real>334</real>
					<key>srcPointX</key>
					<real>864.4100341796875</real>
					<key>srcPointY</key>
					<real>443</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>85</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>32</real>
			<key>onExitHeight</key>
			<real>3</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>960</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>480.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ConvertToUnsigned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1106.5324807819054</real>
					<key>controlPoint1Y</key>
					<real>95.046142578125</real>
					<key>controlPoint2X</key>
					<real>1122.4094848632812</real>
					<key>controlPoint2Y</key>
					<real>161.46751921809451</real>
					<key>dstPointX</key>
					<real>1122.4094848632812</real>
					<key>dstPointY</key>
					<real>244</real>
					<key>srcPointX</key>
					<real>1027</real>
					<key>srcPointY</key>
					<real>95.046142578125</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>861.2774658203125</real>
					<key>controlPoint1Y</key>
					<real>157.22921034568748</real>
					<key>controlPoint2X</key>
					<real>861.10400390625</real>
					<key>controlPoint2Y</key>
					<real>215.49936631446877</real>
					<key>dstPointX</key>
					<real>861.10400390625</real>
					<key>dstPointY</key>
					<real>245</real>
					<key>srcPointX</key>
					<real>861.2774658203125</real>
					<key>srcPointY</key>
					<real>127.72857666015625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>85</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>33</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>960</real>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>90.77142333984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>174.3963623046875</real>
					<key>controlPoint1Y</key>
					<real>214.22857666015625</real>
					<key>controlPoint2X</key>
					<real>176.771484375</real>
					<key>controlPoint2Y</key>
					<real>146.72857666015625</real>
					<key>dstPointX</key>
					<real>176.771484375</real>
					<key>dstPointY</key>
					<real>126.72857666015625</real>
					<key>srcPointX</key>
					<real>174.3963623046875</real>
					<key>srcPointY</key>
					<real>234.22857666015625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>187.6884765625</real>
					<key>controlPoint1Y</key>
					<real>375.08874935465639</real>
					<key>controlPoint2X</key>
					<real>188.771484375</real>
					<key>controlPoint2Y</key>
					<real>409.13982730549986</real>
					<key>dstPointX</key>
					<real>188.771484375</real>
					<key>dstPointY</key>
					<real>443</real>
					<key>srcPointX</key>
					<real>187.6884765625</real>
					<key>srcPointY</key>
					<real>341.22857666015625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>118</real>
			<key>internalHeight</key>
			<real>22</real>
			<key>onEntryHeight</key>
			<real>19</real>
			<key>onExitHeight</key>
			<real>29</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>220</real>
			<key>x</key>
			<real>177</real>
			<key>y</key>
			<real>287.77142333984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>130</real>
			<key>x</key>
			<real>350.4571533203125</real>
			<key>y</key>
			<real>286</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetSmallestOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>478.58977321524026</real>
					<key>controlPoint1Y</key>
					<real>238.87578877877161</real>
					<key>controlPoint2X</key>
					<real>477.7713623046875</real>
					<key>controlPoint2Y</key>
					<real>233.22857666015625</real>
					<key>dstPointX</key>
					<real>477.7713623046875</real>
					<key>dstPointY</key>
					<real>213.22857666015625</real>
					<key>srcPointX</key>
					<real>479.63520100518019</real>
					<key>srcPointY</key>
					<real>258.84844710799808</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>481.7638565068126</real>
					<key>controlPoint1Y</key>
					<real>328.81070041495002</real>
					<key>controlPoint2X</key>
					<real>479.7540283203125</real>
					<key>controlPoint2Y</key>
					<real>338.54281616210938</real>
					<key>dstPointX</key>
					<real>479.7540283203125</real>
					<key>dstPointY</key>
					<real>358.54281616210938</real>
					<key>srcPointX</key>
					<real>482.01576347385947</real>
					<key>srcPointY</key>
					<real>308.812286905875</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>94</real>
			<key>onEntryHeight</key>
			<real>63</real>
			<key>onExitHeight</key>
			<real>16</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>130</real>
			<key>x</key>
			<real>483.228515625</real>
			<key>y</key>
			<real>284.18572998046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SignedOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>346.2655029296875</real>
					<key>controlPoint1Y</key>
					<real>233.22857666015625</real>
					<key>controlPoint2X</key>
					<real>346.40159914680379</real>
					<key>controlPoint2Y</key>
					<real>241.0643553835593</real>
					<key>dstPointX</key>
					<real>347.4369110300247</real>
					<key>dstPointY</key>
					<real>261.03754064040959</real>
					<key>srcPointX</key>
					<real>346.2655029296875</real>
					<key>srcPointY</key>
					<real>213.22857666015625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>80</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>28</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>582</real>
			<key>x</key>
			<real>540</real>
			<key>y</key>
			<real>178.77142333984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>UnsignedOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>337.7713623046875</real>
					<key>controlPoint1Y</key>
					<real>338.54281616210938</real>
					<key>controlPoint2X</key>
					<real>339.95624250815558</real>
					<key>controlPoint2Y</key>
					<real>330.60424187986058</real>
					<key>dstPointX</key>
					<real>342.60289355103856</real>
					<key>dstPointY</key>
					<real>310.78013437770034</real>
					<key>srcPointX</key>
					<real>337.7713623046875</real>
					<key>srcPointY</key>
					<real>358.54281616210938</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>80</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>27</real>
			<key>onExitHeight</key>
			<real>3</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>612</real>
			<key>x</key>
			<real>539.771484375</real>
			<key>y</key>
			<real>393.45718383789062</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>changeCurrentSensor</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>655.5808724479615</real>
					<key>controlPoint1Y</key>
					<real>285.2623291015625</real>
					<key>controlPoint2X</key>
					<real>593.64919996796084</real>
					<key>controlPoint2Y</key>
					<real>287.64963008315056</real>
					<key>dstPointX</key>
					<real>542.69507182561767</real>
					<key>dstPointY</key>
					<real>285.0755845790631</real>
					<key>srcPointX</key>
					<real>706.5999755859375</real>
					<key>srcPointY</key>
					<real>285.2623291015625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>907.98162841796875</real>
					<key>controlPoint1Y</key>
					<real>215.49729206548233</real>
					<key>controlPoint2X</key>
					<real>905.78277587890625</real>
					<key>controlPoint2Y</key>
					<real>157.23128459467392</real>
					<key>dstPointX</key>
					<real>905.78277587890625</real>
					<key>dstPointY</key>
					<real>127.72857666015625</real>
					<key>srcPointX</key>
					<real>907.98162841796875</real>
					<key>srcPointY</key>
					<real>245</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>907.621826171875</real>
					<key>controlPoint1Y</key>
					<real>361.25001616153918</real>
					<key>controlPoint2X</key>
					<real>906.90313720703125</real>
					<key>controlPoint2Y</key>
					<real>415.74998383846082</real>
					<key>dstPointX</key>
					<real>906.90313720703125</real>
					<key>dstPointY</key>
					<real>443</real>
					<key>srcPointX</key>
					<real>907.621826171875</real>
					<key>srcPointY</key>
					<real>334</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>100</real>
			<key>internalHeight</key>
			<real>6</real>
			<key>onEntryHeight</key>
			<real>34</real>
			<key>onExitHeight</key>
			<real>12</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>278</real>
			<key>x</key>
			<real>840.4000244140625</real>
			<key>y</key>
			<real>290</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
