<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>557.27763890944891</real>
					<key>controlPoint1Y</key>
					<real>214.26647273369289</real>
					<key>controlPoint2X</key>
					<real>587.13881945472451</real>
					<key>controlPoint2Y</key>
					<real>244.13323636684643</real>
					<key>dstPointX</key>
					<real>594.00004186137721</real>
					<key>dstPointY</key>
					<real>267.18480525134959</real>
					<key>srcPointX</key>
					<real>471.56858238378993</real>
					<key>srcPointY</key>
					<real>122.49698167599448</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>434</real>
			<key>y</key>
			<real>106</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ConvertToSigned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>328</real>
					<key>controlPoint1Y</key>
					<real>152</real>
					<key>controlPoint2X</key>
					<real>373</real>
					<key>controlPoint2Y</key>
					<real>120</real>
					<key>dstPointX</key>
					<real>385.26701052195813</real>
					<key>dstPointY</key>
					<real>111.59231026797201</real>
					<key>srcPointX</key>
					<real>321.13202254890814</real>
					<key>srcPointY</key>
					<real>218.33286493497852</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>355</real>
					<key>controlPoint1Y</key>
					<real>321</real>
					<key>controlPoint2X</key>
					<real>533</real>
					<key>controlPoint2Y</key>
					<real>324</real>
					<key>dstPointX</key>
					<real>584.70761781524004</real>
					<key>dstPointY</key>
					<real>293.44742493566531</real>
					<key>srcPointX</key>
					<real>336.70499115175085</real>
					<key>srcPointY</key>
					<real>265.01177749805436</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>313</real>
			<key>y</key>
			<real>243</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ConvertToUnsigned</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>664</real>
					<key>controlPoint1Y</key>
					<real>71</real>
					<key>controlPoint2X</key>
					<real>519</real>
					<key>controlPoint2Y</key>
					<real>71</real>
					<key>dstPointX</key>
					<real>480.23390492373579</real>
					<key>dstPointY</key>
					<real>96.481254868642608</real>
					<key>srcPointX</key>
					<real>736.20200753729557</real>
					<key>srcPointY</key>
					<real>79.755008536517451</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>751</real>
					<key>controlPoint1Y</key>
					<real>199</real>
					<key>controlPoint2X</key>
					<real>693</real>
					<key>controlPoint2Y</key>
					<real>245</real>
					<key>dstPointX</key>
					<real>673.32303764355117</real>
					<key>dstPointY</key>
					<real>270.68872203146373</real>
					<key>srcPointX</key>
					<real>771.67017194427149</real>
					<key>srcPointY</key>
					<real>105.95128403600344</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>786</real>
			<key>y</key>
			<real>82</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>214</real>
					<key>controlPoint1Y</key>
					<real>107</real>
					<key>controlPoint2X</key>
					<real>197</real>
					<key>controlPoint2Y</key>
					<real>170</real>
					<key>dstPointX</key>
					<real>270.68226702250536</real>
					<key>dstPointY</key>
					<real>229.68450643380558</real>
					<key>srcPointX</key>
					<real>228.66206902209387</real>
					<key>srcPointY</key>
					<real>57.109618821174244</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>356.32718856008972</real>
					<key>controlPoint1Y</key>
					<real>33.013327946137302</real>
					<key>controlPoint2X</key>
					<real>410.66359428004489</real>
					<key>controlPoint2Y</key>
					<real>31.506663973068651</real>
					<key>dstPointX</key>
					<real>736.44639595823003</real>
					<key>dstPointY</key>
					<real>78.666821094229974</real>
					<key>srcPointX</key>
					<real>301.9909368478443</real>
					<key>srcPointY</key>
					<real>34.524018625668077</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>252</real>
			<key>y</key>
			<real>35</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>354</real>
			<key>y</key>
			<real>520</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetSmallestOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>565.54647973141937</real>
					<key>controlPoint1Y</key>
					<real>446.66111588528855</real>
					<key>controlPoint2X</key>
					<real>525.27323986570968</real>
					<key>controlPoint2Y</key>
					<real>434.83055794264425</real>
					<key>dstPointX</key>
					<real>511.57066525573583</real>
					<key>dstPointY</key>
					<real>422.69791866556687</real>
					<key>srcPointX</key>
					<real>605.813740614126</real>
					<key>srcPointY</key>
					<real>458.5080102508598</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>603.14685641243648</real>
					<key>controlPoint1Y</key>
					<real>510.29037218394132</real>
					<key>controlPoint2X</key>
					<real>588.07342820621818</real>
					<key>controlPoint2Y</key>
					<real>540.64518609197069</real>
					<key>dstPointX</key>
					<real>581.13436296117391</real>
					<key>dstPointY</key>
					<real>557.3565557309953</real>
					<key>srcPointX</key>
					<real>618.05664419526465</real>
					<key>srcPointY</key>
					<real>479.84627897997603</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>655</real>
			<key>y</key>
			<real>463</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SignedOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>405.93645795581983</real>
					<key>controlPoint1Y</key>
					<real>457.95749784566488</real>
					<key>controlPoint2X</key>
					<real>387.96822897790997</real>
					<key>controlPoint2Y</key>
					<real>485.97874892283244</real>
					<key>dstPointX</key>
					<real>389.32775619370017</real>
					<key>dstPointY</key>
					<real>502.30854978867984</real>
					<key>srcPointX</key>
					<real>423.80475294675529</real>
					<key>srcPointY</key>
					<real>429.86894510656879</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>464</real>
			<key>y</key>
			<real>415</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>UnsignedOutput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>450.69339861561247</real>
					<key>controlPoint1Y</key>
					<real>551.95155226657187</real>
					<key>controlPoint2X</key>
					<real>412.3466993078062</real>
					<key>controlPoint2Y</key>
					<real>538.97577613328588</real>
					<key>dstPointX</key>
					<real>401.54856462161433</real>
					<key>dstPointY</key>
					<real>527.73197908727388</real>
					<key>srcPointX</key>
					<real>489.03531205190649</real>
					<key>srcPointY</key>
					<real>564.93889008848294</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>538</real>
			<key>y</key>
			<real>570</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>changeCurrentSensor</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>640.46707313991089</real>
					<key>controlPoint1Y</key>
					<real>351.66453644774515</real>
					<key>controlPoint2X</key>
					<real>639.73353656995539</real>
					<key>controlPoint2Y</key>
					<real>402.33226822387252</real>
					<key>dstPointX</key>
					<real>642.79836336582969</real>
					<key>dstPointY</key>
					<real>438.75582511484629</real>
					<key>srcPointX</key>
					<real>637.92811303944961</real>
					<key>srcPointY</key>
					<real>308.75884311570621</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>504.49745484146206</real>
					<key>controlPoint1Y</key>
					<real>262.34814513305349</real>
					<key>controlPoint2X</key>
					<real>416.74872742073103</real>
					<key>controlPoint2Y</key>
					<real>251.17407256652675</real>
					<key>dstPointX</key>
					<real>362.84553315647298</real>
					<key>dstPointY</key>
					<real>244.9635951942135</real>
					<key>srcPointX</key>
					<real>581.71666389125187</real>
					<key>srcPointY</key>
					<real>279.78239457772071</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>652.80188910463687</real>
					<key>controlPoint1Y</key>
					<real>205.84050934729416</real>
					<key>controlPoint2X</key>
					<real>656.40094455231838</real>
					<key>controlPoint2Y</key>
					<real>160.42025467364707</real>
					<key>dstPointX</key>
					<real>743.22188497795048</real>
					<key>dstPointY</key>
					<real>94.942496621211674</real>
					<key>srcPointX</key>
					<real>644.43419625633601</real>
					<key>srcPointY</key>
					<real>259.91929002839487</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>631</real>
			<key>y</key>
			<real>284</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
