<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CheckBlank</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>538.02215609230177</real>
					<key>controlPoint1Y</key>
					<real>168.51271878864983</real>
					<key>controlPoint2X</key>
					<real>601.51107804615083</real>
					<key>controlPoint2Y</key>
					<real>139.2563593943249</real>
					<key>dstPointX</key>
					<real>646.03927479109575</real>
					<key>dstPointY</key>
					<real>119.06698021498534</real>
					<key>srcPointX</key>
					<real>541.2242429877025</real>
					<key>srcPointY</key>
					<real>184.13638263761416</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>529.6888227589684</real>
					<key>controlPoint1Y</key>
					<real>236.51271878864983</real>
					<key>controlPoint2X</key>
					<real>584.8444113794842</real>
					<key>controlPoint2Y</key>
					<real>275.25635939432487</real>
					<key>dstPointX</key>
					<real>599.74771824009156</real>
					<key>dstPointY</key>
					<real>303.9005983017957</real>
					<key>srcPointX</key>
					<real>535.12119670417223</real>
					<key>srcPointY</key>
					<real>230.9822424078842</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>521</real>
			<key>y</key>
			<real>207</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ControlBalanced</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>581</real>
					<key>controlPoint1Y</key>
					<real>27</real>
					<key>controlPoint2X</key>
					<real>281</real>
					<key>controlPoint2Y</key>
					<real>12</real>
					<key>dstPointX</key>
					<real>149.99885148004651</real>
					<key>dstPointY</key>
					<real>100.16944813089187</real>
					<key>srcPointX</key>
					<real>644.0269527034618</real>
					<key>srcPointY</key>
					<real>111.17924670302811</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>694</real>
			<key>y</key>
			<real>112</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ControlUnbalanced</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>287</real>
					<key>controlPoint1Y</key>
					<real>438</real>
					<key>controlPoint2X</key>
					<real>65</real>
					<key>controlPoint2Y</key>
					<real>298</real>
					<key>dstPointX</key>
					<real>145.5818773207327</real>
					<key>dstPointY</key>
					<real>110.27487785715324</real>
					<key>srcPointX</key>
					<real>591.19932033032808</real>
					<key>srcPointY</key>
					<real>311.20090370468716</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>638</real>
			<key>y</key>
			<real>320</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>188.42977396044841</real>
					<key>controlPoint1Y</key>
					<real>83.548220313557536</real>
					<key>controlPoint2X</key>
					<real>312.21488698022421</real>
					<key>controlPoint2Y</key>
					<real>84.774110156778775</real>
					<key>dstPointX</key>
					<real>432.04522035694555</real>
					<key>dstPointY</key>
					<real>90.936986498925094</real>
					<key>srcPointX</key>
					<real>149.15652959140144</real>
					<key>srcPointY</key>
					<real>95.427374973560759</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>160.42977396044841</real>
					<key>controlPoint1Y</key>
					<real>131.88155364689086</real>
					<key>controlPoint2X</key>
					<real>256.21488698022421</real>
					<key>controlPoint2Y</key>
					<real>181.44077682344542</real>
					<key>dstPointX</key>
					<real>299.57213046762945</real>
					<key>dstPointY</key>
					<real>236.42324984905179</real>
					<key>srcPointX</key>
					<real>144.2228434561946</real>
					<key>srcPointY</key>
					<real>111.66554881530342</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>XnoredState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>465.25776179144333</real>
					<key>controlPoint1Y</key>
					<real>124.87522207968131</real>
					<key>controlPoint2X</key>
					<real>497.62888089572169</real>
					<key>controlPoint2Y</key>
					<real>162.43761103984068</real>
					<key>dstPointX</key>
					<real>497.77710736417993</real>
					<key>dstPointY</key>
					<real>184.86011936784001</real>
					<key>srcPointX</key>
					<real>459.30964694357601</real>
					<key>srcPointY</key>
					<real>114.2774991761577</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>482</real>
			<key>y</key>
			<real>92</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>XoredState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>368.46157574309314</real>
					<key>controlPoint1Y</key>
					<real>208.85838854547515</real>
					<key>controlPoint2X</key>
					<real>435.73078787154662</real>
					<key>controlPoint2Y</key>
					<real>206.42919427273759</real>
					<key>dstPointX</key>
					<real>471.00112025671672</real>
					<key>dstPointY</key>
					<real>206.83264975598004</real>
					<key>srcPointX</key>
					<real>366.02027176893068</real>
					<key>srcPointY</key>
					<real>232.64180861141267</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>337</real>
			<key>y</key>
			<real>253</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
