<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Calculate_Distance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>305</real>
					<key>controlPoint1Y</key>
					<real>519</real>
					<key>controlPoint2X</key>
					<real>240</real>
					<key>controlPoint2Y</key>
					<real>483</real>
					<key>dstPointX</key>
					<real>282.43086405923015</real>
					<key>dstPointY</key>
					<real>394.17829676438174</real>
					<key>srcPointX</key>
					<real>355.24814048950054</real>
					<key>srcPointY</key>
					<real>526.51240702447501</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>405</real>
			<key>y</key>
			<real>529</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ClearTrigger</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>773.13506418211875</real>
					<key>controlPoint1Y</key>
					<real>353.45086784463791</real>
					<key>controlPoint2X</key>
					<real>636.56753209105943</real>
					<key>controlPoint2Y</key>
					<real>380.72543392231893</real>
					<key>dstPointX</key>
					<real>526.38434282194203</real>
					<key>dstPointY</key>
					<real>402.08890411633445</real>
					<key>srcPointX</key>
					<real>909.70081617221615</real>
					<key>srcPointY</key>
					<real>326.17104525012559</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>883.61019001191255</real>
					<key>controlPoint1Y</key>
					<real>394.20353194791164</real>
					<key>controlPoint2X</key>
					<real>844.30509500595633</real>
					<key>controlPoint2Y</key>
					<real>449.10176597395576</real>
					<key>dstPointX</key>
					<real>826.15607318697153</real>
					<key>dstPointY</key>
					<real>489.85589544276013</real>
					<key>srcPointX</key>
					<real>922.88981560281036</real>
					<key>srcPointY</key>
					<real>339.29201103689905</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>959</real>
			<key>y</key>
			<real>322</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>387.83406926373442</real>
					<key>controlPoint1Y</key>
					<real>156.00133295489928</real>
					<key>controlPoint2X</key>
					<real>382.63630544023488</real>
					<key>controlPoint2Y</key>
					<real>185.38642040786183</real>
					<key>dstPointX</key>
					<real>379.04352831067126</real>
					<key>dstPointY</key>
					<real>200.30183766064769</real>
					<key>srcPointX</key>
					<real>390.97709955356748</real>
					<key>srcPointY</key>
					<real>140.79169301203393</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>358</real>
			<key>y</key>
			<real>122</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>236.55334588527717</real>
					<key>controlPoint1Y</key>
					<real>126.61407603200445</real>
					<key>controlPoint2X</key>
					<real>298.77667294263858</real>
					<key>controlPoint2Y</key>
					<real>112.30703801600221</real>
					<key>dstPointX</key>
					<real>308.65651946079902</real>
					<key>dstPointY</key>
					<real>117.96202624211435</real>
					<key>srcPointX</key>
					<real>237.0141817740577</real>
					<key>srcPointY</key>
					<real>93.955384636995831</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>240</real>
			<key>y</key>
			<real>69</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LostPulse</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>435</real>
					<key>controlPoint1Y</key>
					<real>363</real>
					<key>controlPoint2X</key>
					<real>390</real>
					<key>controlPoint2Y</key>
					<real>362</real>
					<key>dstPointX</key>
					<real>358.54522300905569</real>
					<key>dstPointY</key>
					<real>369.63581819074312</real>
					<key>srcPointX</key>
					<real>442.06302380624152</real>
					<key>srcPointY</key>
					<real>388.11559551986176</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>477</real>
			<key>y</key>
			<real>406</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>300</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Setup_Pin</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>455.89744539393649</real>
					<key>controlPoint1Y</key>
					<real>186.88965617067916</real>
					<key>controlPoint2X</key>
					<real>500.3512524908852</real>
					<key>controlPoint2Y</key>
					<real>129.01817332294951</real>
					<key>dstPointX</key>
					<real>609.73147774835468</real>
					<key>dstPointY</key>
					<real>83.149950983682473</real>
					<key>srcPointX</key>
					<real>441.99857503403655</real>
					<key>srcPointY</key>
					<real>209.43423707351479</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>400</real>
			<key>y</key>
			<real>223</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Skip_Garbage</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>654.78605189882308</real>
					<key>controlPoint1Y</key>
					<real>179.91034939186022</real>
					<key>controlPoint2X</key>
					<real>658.39302594941148</real>
					<key>controlPoint2Y</key>
					<real>239.95517469593014</real>
					<key>dstPointX</key>
					<real>657.98276569122584</real>
					<key>dstPointY</key>
					<real>268.17961264059375</real>
					<key>srcPointX</key>
					<real>655.94507296400843</real>
					<key>srcPointY</key>
					<real>99.994435025364822</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>657</real>
			<key>y</key>
			<real>75</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForMaxTime</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>356.77576406058489</real>
					<key>controlPoint1Y</key>
					<real>314.76785743552847</real>
					<key>controlPoint2X</key>
					<real>372.88788203029247</real>
					<key>controlPoint2Y</key>
					<real>275.88392871776426</real>
					<key>dstPointX</key>
					<real>377.18939407940019</real>
					<key>dstPointY</key>
					<real>245.24677649421989</real>
					<key>srcPointX</key>
					<real>340.71406296650537</real>
					<key>srcPointY</key>
					<real>353.67244059537956</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>309</real>
			<key>y</key>
			<real>373</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForPulseEnd</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>657.2560385237457</real>
					<key>controlPoint1Y</key>
					<real>470.46794007073186</real>
					<key>controlPoint2X</key>
					<real>568.62801926187285</real>
					<key>controlPoint2Y</key>
					<real>438.73397003536593</real>
					<key>dstPointX</key>
					<real>524.08552021051742</real>
					<key>dstPointY</key>
					<real>414.41061511580682</real>
					<key>srcPointX</key>
					<real>745.87413853396697</real>
					<key>srcPointY</key>
					<real>502.21948641045162</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>632.38956906545047</real>
					<key>controlPoint1Y</key>
					<real>534.20731161299807</real>
					<key>controlPoint2X</key>
					<real>520.19478453272529</real>
					<key>controlPoint2Y</key>
					<real>555.60365580649898</real>
					<key>dstPointX</key>
					<real>453.71768327195917</real>
					<key>dstPointY</key>
					<real>534.6255518976601</real>
					<key>srcPointX</key>
					<real>744.597333713936</real>
					<key>srcPointY</key>
					<real>512.85280948879506</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>794</real>
			<key>y</key>
			<real>509</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForPulseStart</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>569.80174379523442</real>
					<key>controlPoint1Y</key>
					<real>338.04010176726609</real>
					<key>controlPoint2X</key>
					<real>531.40087189761721</real>
					<key>controlPoint2Y</key>
					<real>371.02005088363302</real>
					<key>dstPointX</key>
					<real>519.05612437277307</real>
					<key>dstPointY</key>
					<real>392.47888315687419</real>
					<key>srcPointX</key>
					<real>608.15120432645085</real>
					<key>srcPointY</key>
					<real>305.01335837702487</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>769.84759864728369</real>
					<key>controlPoint1Y</key>
					<real>303.9252554426696</real>
					<key>controlPoint2X</key>
					<real>837.9237993236419</real>
					<key>controlPoint2Y</key>
					<real>312.4626277213348</real>
					<key>dstPointX</key>
					<real>909.15440613279281</real>
					<key>dstPointY</key>
					<real>320.03679012676713</real>
					<key>srcPointX</key>
					<real>701.78651208977681</real>
					<key>srcPointY</key>
					<real>295.30777024064929</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>652</real>
			<key>y</key>
			<real>293</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
