<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CalculateDistance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>541.55859375</real>
					<key>controlPoint1Y</key>
					<real>539.914306640625</real>
					<key>controlPoint2X</key>
					<real>543.31923605426164</real>
					<key>controlPoint2Y</key>
					<real>551.40868430219348</real>
					<key>dstPointX</key>
					<real>541.68254803756577</real>
					<key>dstPointY</key>
					<real>531.47576549094049</real>
					<key>srcPointX</key>
					<real>541.55859375</real>
					<key>srcPointY</key>
					<real>559.914306640625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>79</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>27</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>880</real>
			<key>x</key>
			<real>574</real>
			<key>y</key>
			<real>593.0428466796875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ClearTrigger</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>759.54379582824618</real>
					<key>controlPoint1Y</key>
					<real>305.244384765625</real>
					<key>controlPoint2X</key>
					<real>715.45620417175382</real>
					<key>controlPoint2Y</key>
					<real>401.41744995117188</real>
					<key>dstPointX</key>
					<real>680</real>
					<key>dstPointY</key>
					<real>401.41744995117188</real>
					<key>srcPointX</key>
					<real>795</real>
					<key>srcPointY</key>
					<real>305.244384765625</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>913.2772216796875</real>
					<key>controlPoint1Y</key>
					<real>391.4571533203125</real>
					<key>controlPoint2X</key>
					<real>916</real>
					<key>controlPoint2Y</key>
					<real>389.542724609375</real>
					<key>dstPointX</key>
					<real>916</real>
					<key>dstPointY</key>
					<real>409.77130126953125</real>
					<key>srcPointX</key>
					<real>913.2772216796875</real>
					<key>srcPointY</key>
					<real>371.4571533203125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>139</real>
			<key>internalHeight</key>
			<real>38</real>
			<key>onEntryHeight</key>
			<real>27</real>
			<key>onExitHeight</key>
			<real>27</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>220</real>
			<key>x</key>
			<real>900</real>
			<key>y</key>
			<real>307.27142333984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>243.2740478515625</real>
					<key>controlPoint1Y</key>
					<real>341.085693359375</real>
					<key>controlPoint2X</key>
					<real>244.6473388671875</real>
					<key>controlPoint2Y</key>
					<real>303</real>
					<key>dstPointX</key>
					<real>244.6473388671875</real>
					<key>dstPointY</key>
					<real>283</real>
					<key>srcPointX</key>
					<real>243.2740478515625</real>
					<key>srcPointY</key>
					<real>361.085693359375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>131</real>
			<key>internalHeight</key>
			<real>40</real>
			<key>onEntryHeight</key>
			<real>18</real>
			<key>onExitHeight</key>
			<real>25</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>268</real>
			<key>x</key>
			<real>311</real>
			<key>y</key>
			<real>421.9571533203125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LostPulse</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>552.4111328125</real>
					<key>controlPoint1Y</key>
					<real>474.6285400390625</real>
					<key>controlPoint2X</key>
					<real>554.38236828266588</real>
					<key>controlPoint2Y</key>
					<real>472.83413685106012</real>
					<key>dstPointX</key>
					<real>549.34163958030717</real>
					<key>dstPointY</key>
					<real>492.18849176537378</real>
					<key>srcPointX</key>
					<real>552.4111328125</real>
					<key>srcPointY</key>
					<real>454.6285400390625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>100</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>48</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>230</real>
			<key>x</key>
			<real>571</real>
			<key>y</key>
			<real>409.68572998046875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>538</real>
			<key>y</key>
			<real>512.22857666015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Skip_Garbage</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>433.70873696251385</real>
					<key>controlPoint1Y</key>
					<real>231.1505126953125</real>
					<key>controlPoint2X</key>
					<real>453.20532553748615</real>
					<key>controlPoint2Y</key>
					<real>231</real>
					<key>dstPointX</key>
					<real>477.45703125</real>
					<key>dstPointY</key>
					<real>231</real>
					<key>srcPointX</key>
					<real>409.45703125</real>
					<key>srcPointY</key>
					<real>231.1505126953125</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>335.7305908203125</real>
					<key>controlPoint1Y</key>
					<real>330.83328655959633</real>
					<key>controlPoint2X</key>
					<real>508.14453125</real>
					<key>controlPoint2Y</key>
					<real>317.79525347946617</real>
					<key>dstPointX</key>
					<real>508.14453125</real>
					<key>dstPointY</key>
					<real>365.6285400390625</real>
					<key>srcPointX</key>
					<real>335.7305908203125</real>
					<key>srcPointY</key>
					<real>283</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>118</real>
			<key>internalHeight</key>
			<real>35</real>
			<key>onEntryHeight</key>
			<real>17</real>
			<key>onExitHeight</key>
			<real>19</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>220</real>
			<key>x</key>
			<real>304.771484375</real>
			<key>y</key>
			<real>230</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForPulseEnd</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>764.89840433888287</real>
					<key>controlPoint1Y</key>
					<real>471.73553466796875</real>
					<key>controlPoint2X</key>
					<real>706.87125012097704</real>
					<key>controlPoint2Y</key>
					<real>454.98680595758117</real>
					<key>dstPointX</key>
					<real>678.34433915989871</real>
					<key>dstPointY</key>
					<real>442.59630138002944</real>
					<key>srcPointX</key>
					<real>796</real>
					<key>srcPointY</key>
					<real>471.73553466796875</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>884.17559814453125</real>
					<key>controlPoint1Y</key>
					<real>533.542724609375</real>
					<key>controlPoint2X</key>
					<real>887.77142333984375</real>
					<key>controlPoint2Y</key>
					<real>539.914306640625</real>
					<key>dstPointX</key>
					<real>887.77142333984375</real>
					<key>dstPointY</key>
					<real>559.914306640625</real>
					<key>srcPointX</key>
					<real>884.17559814453125</real>
					<key>srcPointY</key>
					<real>513.542724609375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>115</real>
			<key>internalHeight</key>
			<real>30</real>
			<key>onEntryHeight</key>
			<real>19</real>
			<key>onExitHeight</key>
			<real>19</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>220</real>
			<key>x</key>
			<real>901</real>
			<key>y</key>
			<real>462.7286376953125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForPulseStart</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>525.90185546875</real>
					<key>controlPoint1Y</key>
					<real>336.08832883058648</real>
					<key>controlPoint2X</key>
					<real>622.265625</real>
					<key>controlPoint2Y</key>
					<real>337.54021120847602</real>
					<key>dstPointX</key>
					<real>622.265625</real>
					<key>dstPointY</key>
					<real>365.6285400390625</real>
					<key>srcPointX</key>
					<real>525.90185546875</real>
					<key>srcPointY</key>
					<real>308</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>741.23619335766398</real>
					<key>controlPoint1Y</key>
					<real>208.92446899414062</real>
					<key>controlPoint2X</key>
					<real>900</real>
					<key>controlPoint2Y</key>
					<real>188.67799121264855</real>
					<key>dstPointX</key>
					<real>900</real>
					<key>dstPointY</key>
					<real>243.4571533203125</real>
					<key>srcPointX</key>
					<real>686.45703125</real>
					<key>srcPointY</key>
					<real>208.92446899414062</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>145</real>
			<key>internalHeight</key>
			<real>57</real>
			<key>onEntryHeight</key>
			<real>19</real>
			<key>onExitHeight</key>
			<real>21</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>220</real>
			<key>x</key>
			<real>581.771484375</real>
			<key>y</key>
			<real>241.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
