<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>A</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>912.51397837808054</real>
					<key>controlPoint1Y</key>
					<real>480.73991675835958</real>
					<key>controlPoint2X</key>
					<real>1031.2569891890403</real>
					<key>controlPoint2Y</key>
					<real>466.86995837917976</real>
					<key>dstPointX</key>
					<real>1214.7328402623466</real>
					<key>dstPointY</key>
					<real>551.5217363165707</real>
					<key>srcPointX</key>
					<real>793.76884999318327</real>
					<key>srcPointY</key>
					<real>494.59887680678264</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>744</real>
			<key>y</key>
			<real>497</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>B</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>888.14060666589592</real>
					<key>controlPoint1Y</key>
					<real>513.38401444613066</real>
					<key>controlPoint2X</key>
					<real>1024.070303332948</real>
					<key>controlPoint2Y</key>
					<real>484.19200722306533</real>
					<key>dstPointX</key>
					<real>1213.4368523039489</real>
					<key>dstPointY</key>
					<real>553.29047697254202</real>
					<key>srcPointX</key>
					<real>752.1956426893164</real>
					<key>srcPointY</key>
					<real>542.53377283422822</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>703</real>
			<key>y</key>
			<real>547</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>C</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>855.92598851226376</real>
					<key>controlPoint1Y</key>
					<real>543.50607886828971</real>
					<key>controlPoint2X</key>
					<real>1015.9629942561319</real>
					<key>controlPoint2Y</key>
					<real>503.25303943414491</real>
					<key>dstPointX</key>
					<real>1212.3331827273105</real>
					<key>dstPointY</key>
					<real>555.26543601163394</real>
					<key>srcPointX</key>
					<real>695.85516368963727</real>
					<key>srcPointY</key>
					<real>583.68086048174257</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>647</real>
			<key>y</key>
			<real>589</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>D</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>811.89971037578437</real>
					<key>controlPoint1Y</key>
					<real>567.41984419694825</real>
					<key>controlPoint2X</key>
					<real>989.44985518789224</real>
					<key>controlPoint2Y</key>
					<real>513.20992209847407</real>
					<key>dstPointX</key>
					<real>1211.7567762423446</real>
					<key>dstPointY</key>
					<real>556.6668454345164</real>
					<key>srcPointX</key>
					<real>634.29359066992129</real>
					<key>srcPointY</key>
					<real>621.52448650286919</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>586</real>
			<key>y</key>
			<real>628</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>E</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>792.1395963380977</real>
					<key>controlPoint1Y</key>
					<real>627.53901830671089</real>
					<key>controlPoint2X</key>
					<real>1030.5697981690489</real>
					<key>controlPoint2Y</key>
					<real>598.76950915335544</real>
					<key>dstPointX</key>
					<real>1211.6584139185602</real>
					<key>dstPointY</key>
					<real>565.0437570082745</real>
					<key>srcPointX</key>
					<real>553.70459586531103</real>
					<key>srcPointY</key>
					<real>656.28646218627307</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>504</real>
			<key>y</key>
			<real>659</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Eight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>964.97406000460558</real>
					<key>controlPoint1Y</key>
					<real>422.10708045964248</real>
					<key>controlPoint2X</key>
					<real>1058.4870300023028</real>
					<key>controlPoint2Y</key>
					<real>439.55354022982124</real>
					<key>dstPointX</key>
					<real>1218.119626342396</real>
					<key>dstPointY</key>
					<real>548.1423801290415</real>
					<key>srcPointX</key>
					<real>871.463891192338</real>
					<key>srcPointY</key>
					<real>404.65114598833537</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>822</real>
			<key>y</key>
			<real>401</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>F</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>728.38493540948127</real>
					<key>controlPoint1Y</key>
					<real>646.83766842788339</real>
					<key>controlPoint2X</key>
					<real>991.19246770474058</real>
					<key>controlPoint2Y</key>
					<real>608.91883421394175</real>
					<key>dstPointX</key>
					<real>1211.7703990421646</real>
					<key>dstPointY</key>
					<real>565.37168129934832</real>
					<key>srcPointX</key>
					<real>465.57150193399838</real>
					<key>srcPointY</key>
					<real>684.73403169000392</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>416</real>
			<key>y</key>
			<real>688</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Five</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1016.3133255753178</real>
					<key>controlPoint1Y</key>
					<real>339.46249957175826</real>
					<key>controlPoint2X</key>
					<real>1090.1566627876589</real>
					<key>controlPoint2Y</key>
					<real>398.73124978587913</real>
					<key>dstPointX</key>
					<real>1224.7465932014138</real>
					<key>dstPointY</key>
					<real>543.78307159002929</real>
					<key>srcPointX</key>
					<real>942.43813279963115</real>
					<key>srcPointY</key>
					<real>280.21935025333011</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>900</real>
			<key>y</key>
			<real>267</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Four</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1029.0494701784221</real>
					<key>controlPoint1Y</key>
					<real>311.40624153133291</real>
					<key>controlPoint2X</key>
					<real>1110.5247350892112</real>
					<key>controlPoint2Y</key>
					<real>385.20312076566648</real>
					<key>dstPointX</key>
					<real>1228.4863192467128</real>
					<key>dstPointY</key>
					<real>542.00749776968996</real>
					<key>srcPointX</key>
					<real>947.4930724317453</real>
					<key>srcPointY</key>
					<real>237.66553003676842</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>907</real>
			<key>y</key>
			<real>223</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>653.69742812765321</real>
					<key>controlPoint1Y</key>
					<real>138.02298283329975</real>
					<key>controlPoint2X</key>
					<real>790.34871406382661</real>
					<key>controlPoint2Y</key>
					<real>80.511491416649875</real>
					<key>dstPointX</key>
					<real>900.56232137575114</real>
					<key>dstPointY</key>
					<real>35.900421614421703</real>
					<key>srcPointX</key>
					<real>517.05693469746416</real>
					<key>srcPointY</key>
					<real>195.54948378975286</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>657.31199696960823</real>
					<key>controlPoint1Y</key>
					<real>156.23925337114599</real>
					<key>controlPoint2X</key>
					<real>796.15599848480417</real>
					<key>controlPoint2Y</key>
					<real>114.619626685573</real>
					<key>dstPointX</key>
					<real>880.79785900055924</real>
					<key>dstPointY</key>
					<real>84.643673740296663</real>
					<key>srcPointX</key>
					<real>518.44982576592349</real>
					<key>srcPointY</key>
					<real>197.82314029518929</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>655.6211902778665</real>
					<key>controlPoint1Y</key>
					<real>175.49448185648262</real>
					<key>controlPoint2X</key>
					<real>791.81059513893331</real>
					<key>controlPoint2Y</key>
					<real>150.74724092824133</real>
					<key>dstPointX</key>
					<real>875.65347568856703</real>
					<key>dstPointY</key>
					<real>133.02866412043616</real>
					<key>srcPointX</key>
					<real>519.4206472871366</real>
					<key>srcPointY</key>
					<real>200.2052792684957</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>646.27208106121986</real>
					<key>controlPoint1Y</key>
					<real>193.32341589033012</real>
					<key>controlPoint2X</key>
					<real>772.63604053060988</real>
					<key>controlPoint2Y</key>
					<real>184.16170794516506</real>
					<key>dstPointX</key>
					<real>870.07651063561559</real>
					<key>dstPointY</key>
					<real>177.38249861520686</real>
					<key>srcPointX</key>
					<real>519.90853716279832</real>
					<key>srcPointY</key>
					<real>202.48855050782504</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>644.30910614639822</real>
					<key>controlPoint1Y</key>
					<real>210.63532645920978</real>
					<key>controlPoint2X</key>
					<real>768.65455307319917</real>
					<key>controlPoint2Y</key>
					<real>216.3176632296049</real>
					<key>dstPointX</key>
					<real>857.0582247816543</real>
					<key>dstPointY</key>
					<real>221.79386070039249</real>
					<key>srcPointX</key>
					<real>519.9638129839218</real>
					<key>srcPointY</key>
					<real>204.950972148342</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>644.00083609197873</real>
					<key>controlPoint1Y</key>
					<real>228.68152031169893</real>
					<key>controlPoint2X</key>
					<real>768.50041804598948</real>
					<key>controlPoint2Y</key>
					<real>249.84076015584947</real>
					<key>dstPointX</key>
					<real>850.42032382450759</real>
					<key>dstPointY</key>
					<real>263.76520053429476</real>
					<key>srcPointX</key>
					<real>519.50445040426655</real>
					<key>srcPointY</key>
					<real>207.51103226172577</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>636.55344441989337</real>
					<key>controlPoint1Y</key>
					<real>240.58414451131731</real>
					<key>controlPoint2X</key>
					<real>754.2767222099468</real>
					<key>controlPoint2Y</key>
					<real>271.79207225565864</real>
					<key>dstPointX</key>
					<real>839.92392388807991</real>
					<key>dstPointY</key>
					<real>303.1317595834002</real>
					<key>srcPointX</key>
					<real>518.83576556475577</real>
					<key>srcPointY</key>
					<real>209.3634877110006</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>630.1794593663052</real>
					<key>controlPoint1Y</key>
					<real>259.09932272472696</real>
					<key>controlPoint2X</key>
					<real>743.08972968315265</real>
					<key>controlPoint2Y</key>
					<real>306.04966136236345</real>
					<key>dstPointX</key>
					<real>817.65405484954806</real>
					<key>dstPointY</key>
					<real>345.61845737483293</real>
					<key>srcPointX</key>
					<real>517.28091391454154</real>
					<key>srcPointY</key>
					<real>212.13196131640012</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>617.72173199666088</real>
					<key>controlPoint1Y</key>
					<real>278.87869214239237</real>
					<key>controlPoint2X</key>
					<real>720.8608659983305</real>
					<key>controlPoint2Y</key>
					<real>342.43934607119621</real>
					<key>dstPointX</key>
					<real>778.72987646451588</real>
					<key>dstPointY</key>
					<real>388.47306492768541</real>
					<key>srcPointX</key>
					<real>514.597769617989</real>
					<key>srcPointY</key>
					<real>215.3030852547079</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>598.45295814423821</real>
					<key>controlPoint1Y</key>
					<real>295.35734596724802</real>
					<key>controlPoint2X</key>
					<real>686.2264790721191</real>
					<key>controlPoint2Y</key>
					<real>372.17867298362398</real>
					<key>dstPointX</key>
					<real>745.53190065226624</real>
					<key>dstPointY</key>
					<real>433.65179868944392</real>
					<key>srcPointX</key>
					<real>510.74581556934737</real>
					<key>srcPointY</key>
					<real>218.48946611843178</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>581.21895981822252</real>
					<key>controlPoint1Y</key>
					<real>315.79407264703633</real>
					<key>controlPoint2X</key>
					<real>657.1094799091112</real>
					<key>controlPoint2Y</key>
					<real>409.89703632351819</real>
					<key>dstPointX</key>
					<real>708.68785563196013</real>
					<key>dstPointY</key>
					<real>479.30075947864776</real>
					<key>srcPointX</key>
					<real>505.26404637041031</real>
					<key>srcPointY</key>
					<real>221.72319831171529</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>565.6463120509153</real>
					<key>controlPoint1Y</key>
					<real>335.79748512530648</real>
					<key>controlPoint2X</key>
					<real>631.82315602545759</real>
					<key>controlPoint2Y</key>
					<real>447.39874256265324</real>
					<key>dstPointX</key>
					<real>673.9291422605603</real>
					<key>dstPointY</key>
					<real>526.65985969632175</real>
					<key>srcPointX</key>
					<real>499.3671193201784</real>
					<key>srcPointY</key>
					<real>224.23346425377031</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>542.85728008155718</real>
					<key>controlPoint1Y</key>
					<real>348.91955377758728</real>
					<key>controlPoint2X</key>
					<real>593.42864004077853</real>
					<key>controlPoint2Y</key>
					<real>471.45977688879367</real>
					<key>dstPointX</key>
					<real>626.26367307300598</real>
					<key>dstPointY</key>
					<real>566.25134759168782</real>
					<key>srcPointX</key>
					<real>492.45865207196488</real>
					<key>srcPointY</key>
					<real>226.33611955505268</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>512.76848283452262</real>
					<key>controlPoint1Y</key>
					<real>361.4130163206608</real>
					<key>controlPoint2X</key>
					<real>542.38424141726136</real>
					<key>controlPoint2Y</key>
					<real>494.70650816033043</real>
					<key>dstPointX</key>
					<real>570.45048341401025</real>
					<key>dstPointY</key>
					<real>604.239673119136</real>
					<key>srcPointX</key>
					<real>483.10954824075156</real>
					<key>srcPointY</key>
					<real>228.1254002294439</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>484.40736726957584</real>
					<key>controlPoint1Y</key>
					<real>373.61023533334429</real>
					<key>controlPoint2X</key>
					<real>494.70368363478792</real>
					<key>controlPoint2Y</key>
					<real>518.30511766667212</real>
					<key>dstPointX</key>
					<real>500.70347299598012</real>
					<key>dstPointY</key>
					<real>634.05439462694994</real>
					<key>srcPointX</key>
					<real>474.23195829558898</real>
					<key>srcPointY</key>
					<real>228.91029169331622</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>447.43447637789194</real>
					<key>controlPoint1Y</key>
					<real>383.53178511588141</real>
					<key>controlPoint2X</key>
					<real>431.21723818894594</real>
					<key>controlPoint2Y</key>
					<real>538.26589255794067</real>
					<key>dstPointX</key>
					<real>421.05538038160114</real>
					<key>dstPointY</key>
					<real>663.12811261083448</real>
					<key>srcPointX</key>
					<real>463.76451344425902</real>
					<key>srcPointY</key>
					<real>228.80483172394631</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>470</real>
			<key>y</key>
			<real>204</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>152.05148094735617</real>
					<key>controlPoint1Y</key>
					<real>164.27287456177388</real>
					<key>controlPoint2X</key>
					<real>165.52574047367807</real>
					<key>controlPoint2Y</key>
					<real>149.63643728088695</real>
					<key>dstPointX</key>
					<real>430.28210835114021</real>
					<key>dstPointY</key>
					<real>188.81374731073007</real>
					<key>srcPointX</key>
					<real>138.50178346938418</real>
					<key>srcPointY</key>
					<real>178.81326861491925</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>92</real>
			<key>y</key>
			<real>188</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Nine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>937.65635288995293</real>
					<key>controlPoint1Y</key>
					<real>452.74790502202245</real>
					<key>controlPoint2X</key>
					<real>1040.3281764449764</real>
					<key>controlPoint2Y</key>
					<real>455.87395251101117</real>
					<key>dstPointX</key>
					<real>1215.8604863581279</real>
					<key>dstPointY</key>
					<real>550.24797335179028</real>
					<key>srcPointX</key>
					<real>834.98493770606615</real>
					<key>srcPointY</key>
					<real>449.61359647177306</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>785</real>
			<key>y</key>
			<real>449</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>One</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1032.7657354491466</real>
					<key>controlPoint1Y</key>
					<real>214.29603836851649</real>
					<key>controlPoint2X</key>
					<real>1106.3828677245733</real>
					<key>controlPoint2Y</key>
					<real>330.64801918425826</real>
					<key>dstPointX</key>
					<real>1233.1342249023792</real>
					<key>dstPointY</key>
					<real>540.24247980725534</real>
					<key>srcPointX</key>
					<real>959.28759401270645</real>
					<key>srcPointY</key>
					<real>97.891340131584059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>929</real>
			<key>y</key>
			<real>78</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1261</real>
			<key>y</key>
			<real>561</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Seven</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>990.42106201781553</real>
					<key>controlPoint1Y</key>
					<real>394.73543098832442</real>
					<key>controlPoint2X</key>
					<real>1069.2105310089078</real>
					<key>controlPoint2Y</key>
					<real>426.86771549416221</real>
					<key>dstPointX</key>
					<real>1220.026329037102</real>
					<key>dstPointY</key>
					<real>546.67207021387799</real>
					<key>srcPointX</key>
					<real>911.69935157694943</real>
					<key>srcPointY</key>
					<real>362.49619668796407</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>864</real>
			<key>y</key>
			<real>355</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Six</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1005.0455762121768</real>
					<key>controlPoint1Y</key>
					<real>366.55092401841284</real>
					<key>controlPoint2X</key>
					<real>1077.0227881060885</real>
					<key>controlPoint2Y</key>
					<real>412.27546200920642</real>
					<key>dstPointX</key>
					<real>1222.1161226280135</real>
					<key>dstPointY</key>
					<real>545.28341576136597</real>
					<key>srcPointX</key>
					<real>933.02062769306838</real>
					<key>srcPointY</key>
					<real>320.87592619184824</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>888</real>
			<key>y</key>
			<real>310</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Three</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1030.2558605724889</real>
					<key>controlPoint1Y</key>
					<real>280.43202015173932</real>
					<key>controlPoint2X</key>
					<real>1104.1279302862445</real>
					<key>controlPoint2Y</key>
					<real>367.71601007586963</real>
					<key>dstPointX</key>
					<real>1229.49108284258</real>
					<key>dstPointY</key>
					<real>541.58873948215341</real>
					<key>srcPointX</key>
					<real>956.30106965433356</real>
					<key>srcPointY</key>
					<real>193.19180285740288</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>920</real>
			<key>y</key>
			<real>176</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Two</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1029.5091158778207</real>
					<key>controlPoint1Y</key>
					<real>252.73252768763527</real>
					<key>controlPoint2X</key>
					<real>1101.7545579389105</real>
					<key>controlPoint2Y</key>
					<real>357.36626384381765</real>
					<key>dstPointX</key>
					<real>1230.1989939865909</real>
					<key>dstPointY</key>
					<real>541.30673955028055</real>
					<key>srcPointX</key>
					<real>957.26334231955968</real>
					<key>srcPointY</key>
					<real>148.09893153013351</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>925</real>
			<key>y</key>
			<real>129</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1052.5657729504746</real>
					<key>controlPoint1Y</key>
					<real>184.50884122363689</real>
					<key>controlPoint2X</key>
					<real>1129.2828864752373</real>
					<key>controlPoint2Y</key>
					<real>320.25442061181849</real>
					<key>dstPointX</key>
					<real>1237.0010557561939</real>
					<key>dstPointY</key>
					<real>539.06799897875999</real>
					<key>srcPointX</key>
					<real>975.77665837060863</real>
					<key>srcPointY</key>
					<real>48.787359438866297</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>948</real>
			<key>y</key>
			<real>28</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
