<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ConvertBinary</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>356</real>
					<key>controlPoint1Y</key>
					<real>262.82415771484375</real>
					<key>controlPoint2X</key>
					<real>343.48224996550528</real>
					<key>controlPoint2Y</key>
					<real>264.03862249931387</real>
					<key>dstPointX</key>
					<real>323.64155766842674</real>
					<key>dstPointY</key>
					<real>261.51931124965694</real>
					<key>srcPointX</key>
					<real>376</real>
					<key>srcPointY</key>
					<real>262.82415771484375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>296</real>
			<key>internalHeight</key>
			<real>3</real>
			<key>onEntryHeight</key>
			<real>243</real>
			<key>onExitHeight</key>
			<real>3</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>304</real>
			<key>x</key>
			<real>523</real>
			<key>y</key>
			<real>221</real>
			<key>zoomedInternalHeight</key>
			<real>233</real>
			<key>zoomedOnEntryHeight</key>
			<real>241</real>
			<key>zoomedOnExitHeight</key>
			<real>232</real>
		</dict>
		<key>Init</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>345.91744971252677</real>
					<key>controlPoint1Y</key>
					<real>181.86074138261722</real>
					<key>controlPoint2X</key>
					<real>356</real>
					<key>controlPoint2Y</key>
					<real>180.181640625</real>
					<key>dstPointX</key>
					<real>376</real>
					<key>dstPointY</key>
					<real>180.181640625</real>
					<key>srcPointX</key>
					<real>326.25054210867239</real>
					<key>srcPointY</key>
					<real>178.22580736650991</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>51</real>
			<key>internalHeight</key>
			<real>2</real>
			<key>onEntryHeight</key>
			<real>14</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>282</real>
			<key>y</key>
			<real>174.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Suspend</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>17</real>
			<key>onEntryHeight</key>
			<real>34</real>
			<key>onExitHeight</key>
			<real>16</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>279</real>
			<key>y</key>
			<real>259.22857666015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
