<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Compare</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>523</real>
					<key>controlPoint1Y</key>
					<real>30</real>
					<key>controlPoint2X</key>
					<real>692</real>
					<key>controlPoint2Y</key>
					<real>16</real>
					<key>dstPointX</key>
					<real>818.44430666694916</real>
					<key>dstPointY</key>
					<real>53.034586247653756</real>
					<key>srcPointX</key>
					<real>564.54794800946911</real>
					<key>srcPointY</key>
					<real>215.78767668507876</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>570</real>
					<key>controlPoint1Y</key>
					<real>79</real>
					<key>controlPoint2X</key>
					<real>736</real>
					<key>controlPoint2Y</key>
					<real>95</real>
					<key>dstPointX</key>
					<real>814.72255546201234</real>
					<key>dstPointY</key>
					<real>112.76521961001669</real>
					<key>srcPointX</key>
					<real>574.8281387861847</real>
					<key>srcPointY</key>
					<real>215.02359604112351</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>623</real>
					<key>controlPoint1Y</key>
					<real>143</real>
					<key>controlPoint2X</key>
					<real>775</real>
					<key>controlPoint2Y</key>
					<real>163</real>
					<key>dstPointX</key>
					<real>816.29918889967144</real>
					<key>dstPointY</key>
					<real>170.26918620327865</real>
					<key>srcPointX</key>
					<real>598.42433591030067</real>
					<key>srcPointY</key>
					<real>217.4112980076178</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>676</real>
					<key>controlPoint1Y</key>
					<real>204</real>
					<key>controlPoint2X</key>
					<real>779</real>
					<key>controlPoint2Y</key>
					<real>208</real>
					<key>dstPointX</key>
					<real>816.17732622765016</real>
					<key>dstPointY</key>
					<real>221.60679766468229</real>
					<key>srcPointX</key>
					<real>623.9896711744218</real>
					<key>srcPointY</key>
					<real>231.45642342283236</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>703.70894969079836</real>
					<key>controlPoint1Y</key>
					<real>256.53098228529842</real>
					<key>controlPoint2X</key>
					<real>780.85447484539918</real>
					<key>controlPoint2Y</key>
					<real>269.76549114264918</real>
					<key>dstPointX</key>
					<real>815.04071925466974</real>
					<key>dstPointY</key>
					<real>281.9258294052147</real>
					<key>srcPointX</key>
					<real>626.57983345402204</real>
					<key>srcPointY</key>
					<real>243.23419675775278</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>673</real>
					<key>controlPoint1Y</key>
					<real>324</real>
					<key>controlPoint2X</key>
					<real>769</real>
					<key>controlPoint2Y</key>
					<real>340</real>
					<key>dstPointX</key>
					<real>814.0442624851612</real>
					<key>dstPointY</key>
					<real>342.94830026284552</real>
					<key>srcPointX</key>
					<real>614.62883473534384</real>
					<key>srcPointY</key>
					<real>256.46261519671293</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>682</real>
					<key>controlPoint1Y</key>
					<real>380</real>
					<key>controlPoint2X</key>
					<real>773</real>
					<key>controlPoint2Y</key>
					<real>377</real>
					<key>dstPointX</key>
					<real>813.51214789185474</real>
					<key>dstPointY</key>
					<real>398.17529709581697</real>
					<key>srcPointX</key>
					<real>607</real>
					<key>srcPointY</key>
					<real>260</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>673</real>
					<key>controlPoint1Y</key>
					<real>404</real>
					<key>controlPoint2X</key>
					<real>748</real>
					<key>controlPoint2Y</key>
					<real>420</real>
					<key>dstPointX</key>
					<real>788.14518660792487</real>
					<key>dstPointY</key>
					<real>453.99213442836037</real>
					<key>srcPointX</key>
					<real>602.25896007844688</real>
					<key>srcPointY</key>
					<real>261.57536173367339</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>620</real>
					<key>controlPoint1Y</key>
					<real>423</real>
					<key>controlPoint2X</key>
					<real>704</real>
					<key>controlPoint2Y</key>
					<real>475</real>
					<key>dstPointX</key>
					<real>724.76524762227871</real>
					<key>dstPointY</key>
					<real>520.47827976392421</real>
					<key>srcPointX</key>
					<real>588.43714103891523</real>
					<key>srcPointY</key>
					<real>264.33717221071481</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>530</real>
					<key>controlPoint1Y</key>
					<real>426</real>
					<key>controlPoint2X</key>
					<real>592</real>
					<key>controlPoint2Y</key>
					<real>505</real>
					<key>dstPointX</key>
					<real>624.64466094067257</real>
					<key>dstPointY</key>
					<real>555.32233047033628</real>
					<key>srcPointX</key>
					<real>564.75061030550842</real>
					<key>srcPointY</key>
					<real>264.2381540763343</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>474</real>
					<key>controlPoint1Y</key>
					<real>366</real>
					<key>controlPoint2X</key>
					<real>530</real>
					<key>controlPoint2Y</key>
					<real>478</real>
					<key>dstPointX</key>
					<real>556.70803586935915</real>
					<key>dstPointY</key>
					<real>553.14041877042166</real>
					<key>srcPointX</key>
					<real>570.62889747983672</real>
					<key>srcPointY</key>
					<real>264.79621469437205</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>424</real>
					<key>controlPoint1Y</key>
					<real>327</real>
					<key>controlPoint2X</key>
					<real>468</real>
					<key>controlPoint2Y</key>
					<real>538</real>
					<key>dstPointX</key>
					<real>492.95507627936183</real>
					<key>dstPointY</key>
					<real>588.12306681348309</real>
					<key>srcPointX</key>
					<real>561.16474107517433</real>
					<key>srcPointY</key>
					<real>263.71310067654446</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>577</real>
			<key>y</key>
			<real>240</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Dash</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>789.56888744713842</real>
					<key>controlPoint1Y</key>
					<real>638.57538950007188</real>
					<key>controlPoint2X</key>
					<real>968.78444372356932</real>
					<key>controlPoint2Y</key>
					<real>692.78769475003594</real>
					<key>dstPointX</key>
					<real>1113.4289966357335</real>
					<key>dstPointY</key>
					<real>734.06582709662882</real>
					<key>srcPointX</key>
					<real>601.04344047215147</real>
					<key>srcPointY</key>
					<real>593.61737618886059</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>562</real>
			<key>y</key>
			<real>578</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Eight</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>909.12522806911386</real>
					<key>controlPoint1Y</key>
					<real>612.46743707688415</real>
					<key>controlPoint2X</key>
					<real>1017.062614034557</real>
					<key>controlPoint2Y</key>
					<real>674.23371853844208</real>
					<key>dstPointX</key>
					<real>1116.4681534502347</real>
					<key>dstPointY</key>
					<real>729.66981425906806</real>
					<key>srcPointX</key>
					<real>801.19437584105879</real>
					<key>srcPointY</key>
					<real>550.69425537773805</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>756</real>
			<key>y</key>
			<real>540</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Error</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>750.55154128238007</real>
					<key>controlPoint1Y</key>
					<real>649.25512982143869</real>
					<key>controlPoint2X</key>
					<real>943.27577064118998</real>
					<key>controlPoint2Y</key>
					<real>697.12756491071934</real>
					<key>dstPointX</key>
					<real>1112.9336912862043</real>
					<key>dstPointY</key>
					<real>735.19122288927599</real>
					<key>srcPointX</key>
					<real>537.5300057843109</real>
					<key>srcPointY</key>
					<real>616.41974147437111</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>488</real>
			<key>y</key>
			<real>613</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Five</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>969.41096890380641</real>
					<key>controlPoint1Y</key>
					<real>427.5146324660933</real>
					<key>controlPoint2X</key>
					<real>1093.3727410954796</real>
					<key>controlPoint2Y</key>
					<real>619.31944799343057</real>
					<key>dstPointX</key>
					<real>1137.2835322942553</real>
					<key>dstPointY</key>
					<real>718.26813270706543</real>
					<key>srcPointX</key>
					<real>903.19065760701892</real>
					<key>srcPointY</key>
					<real>359.52491832771921</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>864</real>
			<key>y</key>
			<real>344</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Four</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>969.47257393323787</real>
					<key>controlPoint1Y</key>
					<real>383.74067738462884</real>
					<key>controlPoint2X</key>
					<real>1096.7269818065963</real>
					<key>controlPoint2Y</key>
					<real>604.58925725712106</real>
					<key>dstPointX</key>
					<real>1140.2889012496166</real>
					<key>dstPointY</key>
					<real>717.47985240361925</real>
					<key>srcPointX</key>
					<real>900.84770192784617</real>
					<key>srcPointY</key>
					<real>303.89857140882475</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>864</real>
			<key>y</key>
			<real>287</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>324.21416725156308</real>
					<key>controlPoint1Y</key>
					<real>157.53296761783483</real>
					<key>controlPoint2X</key>
					<real>421.60708362578157</real>
					<key>controlPoint2Y</key>
					<real>194.76648380891743</real>
					<key>dstPointX</key>
					<real>528.99258117573459</real>
					<key>dstPointY</key>
					<real>233.012730543489</real>
					<key>srcPointX</key>
					<real>226.80265292389481</real>
					<key>srcPointY</key>
					<real>120.32984265584284</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>179</real>
			<key>y</key>
			<real>113</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>72.20266356302254</real>
					<key>controlPoint1Y</key>
					<real>146.26387929050151</real>
					<key>controlPoint2X</key>
					<real>76.601331781511263</real>
					<key>controlPoint2Y</key>
					<real>127.63193964525074</real>
					<key>dstPointX</key>
					<real>129.50276615763698</real>
					<key>dstPointY</key>
					<real>116.53637674585279</real>
					<key>srcPointX</key>
					<real>80.85901863801385</real>
					<key>srcPointY</key>
					<real>181.68891665451815</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>107</real>
			<key>y</key>
			<real>203</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Nine</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>846.58072853162776</real>
					<key>controlPoint1Y</key>
					<real>635.66645382050456</real>
					<key>controlPoint2X</key>
					<real>985.79036426581388</real>
					<key>controlPoint2Y</key>
					<real>690.33322691025239</real>
					<key>dstPointX</key>
					<real>1113.875135072645</real>
					<key>dstPointY</key>
					<real>733.21771838309871</real>
					<key>srcPointX</key>
					<real>707.39800347444589</real>
					<key>srcPointY</key>
					<real>580.95973094137639</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>660</real>
			<key>y</key>
			<real>573</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>One</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>978.2280912238391</real>
					<key>controlPoint1Y</key>
					<real>261.4138549883321</real>
					<key>controlPoint2X</key>
					<real>1110.8940507219586</real>
					<key>controlPoint2Y</key>
					<real>564.59629578164481</real>
					<key>dstPointX</key>
					<real>1148.013485387324</real>
					<key>dstPointY</key>
					<real>715.99803440867083</real>
					<key>srcPointX</key>
					<real>895.01852767848186</real>
					<key>srcPointY</key>
					<real>136.60772131495176</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>864</real>
			<key>y</key>
			<real>117</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>300</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Seven</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>957.27459347061119</real>
					<key>controlPoint1Y</key>
					<real>567.1328280164787</real>
					<key>controlPoint2X</key>
					<real>1043.6372967353057</real>
					<key>controlPoint2Y</key>
					<real>652.56641400823935</real>
					<key>dstPointX</key>
					<real>1121.7827668789037</real>
					<key>dstPointY</key>
					<real>725.14592513749676</real>
					<key>srcPointX</key>
					<real>870.90472349370009</real>
					<key>srcPointY</key>
					<real>481.70368181254588</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>832</real>
			<key>y</key>
			<real>466</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Six</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>978.07273117698276</real>
					<key>controlPoint1Y</key>
					<real>528.69538425361043</real>
					<key>controlPoint2X</key>
					<real>1060.5363655884914</real>
					<key>controlPoint2Y</key>
					<real>633.34769212680521</real>
					<key>dstPointX</key>
					<real>1127.5368370812689</real>
					<key>dstPointY</key>
					<real>721.88722549112788</real>
					<key>srcPointX</key>
					<real>895.51675354727013</real>
					<key>srcPointY</key>
					<real>424.08724498477454</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>861</real>
			<key>y</key>
			<real>406</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Three</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>972.61757115169962</real>
					<key>controlPoint1Y</key>
					<real>339.81063599314894</real>
					<key>controlPoint2X</key>
					<real>1100.7147223684515</real>
					<key>controlPoint2Y</key>
					<real>589.9623508483769</real>
					<key>dstPointX</key>
					<real>1143.0931392595528</real>
					<key>dstPointY</key>
					<real>716.85626101436219</real>
					<key>srcPointX</key>
					<real>899.5128267285935</real>
					<key>srcPointY</key>
					<real>245.08911821511819</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>865</real>
			<key>y</key>
			<real>227</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Two</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>975.79904214293379</real>
					<key>controlPoint1Y</key>
					<real>302.16336412274035</real>
					<key>controlPoint2X</key>
					<real>1101.2907990801377</real>
					<key>controlPoint2Y</key>
					<real>577.4016206325897</real>
					<key>dstPointX</key>
					<real>1144.5108237513218</real>
					<key>dstPointY</key>
					<real>716.57923616669029</real>
					<key>srcPointX</key>
					<real>898.38416452423337</real>
					<key>srcPointY</key>
					<real>192.04774191385548</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>866</real>
			<key>y</key>
			<real>173</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1174</real>
					<key>controlPoint1Y</key>
					<real>1420</real>
					<key>controlPoint2X</key>
					<real>31</real>
					<key>controlPoint2Y</key>
					<real>684</real>
					<key>dstPointX</key>
					<real>538.20734286138918</real>
					<key>dstPointY</key>
					<real>255.7728386167978</real>
					<key>srcPointX</key>
					<real>1162.8822155826613</real>
					<key>srcPointY</key>
					<real>764.99610817540258</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1162</real>
			<key>y</key>
			<real>740</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Zero</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>982.46525841798962</real>
					<key>controlPoint1Y</key>
					<real>222.38209100976971</real>
					<key>controlPoint2X</key>
					<real>1113.5362533642774</real>
					<key>controlPoint2Y</key>
					<real>551.79560728352544</real>
					<key>dstPointX</key>
					<real>1149.5314590728667</real>
					<key>dstPointY</key>
					<real>715.78979818780726</real>
					<key>srcPointX</key>
					<real>895.85696157189579</real>
					<key>srcPointY</key>
					<real>79.416144156268388</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>867</real>
			<key>y</key>
			<real>59</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
