<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Green</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>248.67896401177867</real>
					<key>controlPoint1Y</key>
					<real>319.89688427837035</real>
					<key>controlPoint2X</key>
					<real>329.83948200588935</real>
					<key>controlPoint2Y</key>
					<real>287.94844213918515</real>
					<key>dstPointX</key>
					<real>359.43260316309483</real>
					<key>dstPointY</key>
					<real>264.29092252312694</real>
					<key>srcPointX</key>
					<real>180.45320219046999</real>
					<key>srcPointY</key>
					<real>361.5835897422354</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>135</real>
			<key>y</key>
			<real>372</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>179.09644062711507</real>
					<key>controlPoint1Y</key>
					<real>96.214886980224207</real>
					<key>controlPoint2X</key>
					<real>293.54822031355752</real>
					<key>controlPoint2Y</key>
					<real>110.10744349011209</real>
					<key>dstPointX</key>
					<real>349.21857185594382</real>
					<key>dstPointY</key>
					<real>117.66497259447716</real>
					<key>srcPointX</key>
					<real>149.94284704397052</real>
					<key>srcPointY</key>
					<real>98.805007411888511</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>84.096440627115086</real>
					<key>controlPoint1Y</key>
					<real>178.88155364689086</real>
					<key>controlPoint2X</key>
					<real>103.54822031355754</real>
					<key>controlPoint2Y</key>
					<real>275.44077682344545</real>
					<key>dstPointX</key>
					<real>119.51451301730792</real>
					<key>dstPointY</key>
					<real>348.22922123220997</real>
					<key>srcPointX</key>
					<real>90.118178974161992</real>
					<key>srcPointY</key>
					<real>124.50688481433995</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>182.76310729378176</real>
					<key>controlPoint1Y</key>
					<real>139.54822031355755</real>
					<key>controlPoint2X</key>
					<real>300.88155364689084</real>
					<key>controlPoint2Y</key>
					<real>196.77411015677876</real>
					<key>dstPointX</key>
					<real>361.18223034987238</real>
					<key>dstPointY</key>
					<real>241.95837362637056</real>
					<key>srcPointX</key>
					<real>145.11395099111579</real>
					<key>srcPointY</key>
					<real>110.77881517110302</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Red</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>371.74573711566364</real>
					<key>controlPoint1Y</key>
					<real>160.1998602178943</real>
					<key>controlPoint2X</key>
					<real>392.37286855783185</real>
					<key>controlPoint2Y</key>
					<real>207.59993010894718</real>
					<key>dstPointX</key>
					<real>391.87068105851205</real>
					<key>dstPointY</key>
					<real>229.87728775545395</real>
					<key>srcPointX</key>
					<real>370.94199991350956</real>
					<key>srcPointY</key>
					<real>140.69268367773077</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>399</real>
			<key>y</key>
			<real>120</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Suspend</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>114.16656277905224</real>
					<key>controlPoint1Y</key>
					<real>250.951412125247</real>
					<key>controlPoint2X</key>
					<real>106.58328138952612</real>
					<key>controlPoint2Y</key>
					<real>186.97570606262352</real>
					<key>dstPointX</key>
					<real>103.77375711287773</real>
					<key>dstPointY</key>
					<real>124.92869208990417</real>
					<key>srcPointX</key>
					<real>355.00274671111481</real>
					<key>srcPointY</key>
					<real>253.73795822515473</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>405</real>
			<key>y</key>
			<real>254</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
