<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>CheckCarryBit</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1099</real>
					<key>controlPoint1Y</key>
					<real>403</real>
					<key>controlPoint2X</key>
					<real>1040</real>
					<key>controlPoint2Y</key>
					<real>43</real>
					<key>dstPointX</key>
					<real>810.74717635275158</real>
					<key>dstPointY</key>
					<real>80.489101509009387</real>
					<key>srcPointX</key>
					<real>845.98391095659258</real>
					<key>srcPointY</key>
					<real>431.63416194371365</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>766</real>
					<key>controlPoint1Y</key>
					<real>375</real>
					<key>controlPoint2X</key>
					<real>716</real>
					<key>controlPoint2Y</key>
					<real>322</real>
					<key>dstPointX</key>
					<real>705.84719085438303</real>
					<key>dstPointY</key>
					<real>192.88224638583293</real>
					<key>srcPointX</key>
					<real>772.18584257296243</real>
					<key>srcPointY</key>
					<real>409.01770083658062</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>845</real>
					<key>controlPoint1Y</key>
					<real>308</real>
					<key>controlPoint2X</key>
					<real>892</real>
					<key>controlPoint2Y</key>
					<real>301</real>
					<key>dstPointX</key>
					<real>742.03211977512012</real>
					<key>dstPointY</key>
					<real>182.28605217301302</real>
					<key>srcPointX</key>
					<real>823.63295743348453</real>
					<key>srcPointY</key>
					<real>410.16481543470741</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>709.55666524385288</real>
					<key>controlPoint1Y</key>
					<real>386.84231957350039</real>
					<key>controlPoint2X</key>
					<real>667.77833262192644</real>
					<key>controlPoint2Y</key>
					<real>353.9211597867502</real>
					<key>dstPointX</key>
					<real>651.76787453437294</real>
					<key>dstPointY</key>
					<real>313.70620395102191</real>
					<key>srcPointX</key>
					<real>751.47315941892236</real>
					<key>srcPointY</key>
					<real>419.62722035002764</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>796</real>
			<key>y</key>
			<real>431</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CheckLastCarry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>398</real>
					<key>controlPoint1Y</key>
					<real>350</real>
					<key>controlPoint2X</key>
					<real>441</real>
					<key>controlPoint2Y</key>
					<real>348</real>
					<key>dstPointX</key>
					<real>509</real>
					<key>dstPointY</key>
					<real>342</real>
					<key>srcPointX</key>
					<real>371.44681764341487</real>
					<key>srcPointY</key>
					<real>334.70851132325612</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>332</real>
					<key>controlPoint1Y</key>
					<real>388</real>
					<key>controlPoint2X</key>
					<real>339.45803559645282</real>
					<key>controlPoint2Y</key>
					<real>395.48532339085062</real>
					<key>dstPointX</key>
					<real>349.39181399544913</real>
					<key>dstPointY</key>
					<real>440.21930248293415</real>
					<key>srcPointX</key>
					<real>329.79812867365052</real>
					<key>srcPointY</key>
					<real>355.69407413322671</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>322</real>
			<key>y</key>
			<real>331</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>EncodeWithCarry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>617.26293817808141</real>
					<key>controlPoint1Y</key>
					<real>380.4854768205098</real>
					<key>controlPoint2X</key>
					<real>701.63146908904071</real>
					<key>controlPoint2Y</key>
					<real>403.74273841025496</real>
					<key>dstPointX</key>
					<real>747.96364506584121</real>
					<key>dstPointY</key>
					<real>424.06262649413486</real>
					<key>srcPointX</key>
					<real>587.66104444328107</real>
					<key>srcPointY</key>
					<real>367.7467981017482</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>539</real>
			<key>y</key>
			<real>362</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>EncodeWithoutCarry</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>536.60057157027086</real>
					<key>controlPoint1Y</key>
					<real>453.61762291186477</real>
					<key>controlPoint2X</key>
					<real>667.30028578513543</real>
					<key>controlPoint2Y</key>
					<real>443.80881145593236</real>
					<key>dstPointX</key>
					<real>746.24580501553874</real>
					<key>dstPointY</key>
					<real>433.47588779270211</real>
					<key>srcPointX</key>
					<real>405.90099064354064</real>
					<key>srcPointY</key>
					<real>463.42749143140094</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>356</real>
			<key>y</key>
			<real>465</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>195</real>
					<key>controlPoint1Y</key>
					<real>143</real>
					<key>controlPoint2X</key>
					<real>201</real>
					<key>controlPoint2Y</key>
					<real>124</real>
					<key>dstPointX</key>
					<real>236.57616545573703</real>
					<key>dstPointY</key>
					<real>188.71523309114741</real>
					<key>srcPointX</key>
					<real>144.91597797048172</real>
					<key>srcPointY</key>
					<real>110.98356639433661</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>90.314379295551817</real>
					<key>controlPoint1Y</key>
					<real>138.04668723946682</real>
					<key>controlPoint2X</key>
					<real>86</real>
					<key>controlPoint2Y</key>
					<real>157</real>
					<key>dstPointX</key>
					<real>90.194193243090794</real>
					<key>dstPointY</key>
					<real>124.51451689227301</real>
					<key>srcPointX</key>
					<real>80.843808385909156</real>
					<key>srcPointY</key>
					<real>197.83889186033653</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>68</real>
			<key>y</key>
			<real>222</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>152</real>
			<key>y</key>
			<real>426</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetBusy</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>314.0617630245975</real>
					<key>controlPoint1Y</key>
					<real>242.11394604454236</real>
					<key>controlPoint2X</key>
					<real>316</real>
					<key>controlPoint2Y</key>
					<real>238</real>
					<key>dstPointX</key>
					<real>316.47842369625766</real>
					<key>dstPointY</key>
					<real>306.15290663315955</real>
					<key>srcPointX</key>
					<real>311.78620744841987</real>
					<key>srcPointY</key>
					<real>218.44109990152521</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>283</real>
			<key>y</key>
			<real>198</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetHighCarryBit</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>564</real>
					<key>controlPoint1Y</key>
					<real>196</real>
					<key>controlPoint2X</key>
					<real>427</real>
					<key>controlPoint2Y</key>
					<real>270</real>
					<key>dstPointX</key>
					<real>347.35100632816966</real>
					<key>dstPointY</key>
					<real>309.45164462105578</real>
					<key>srcPointX</key>
					<real>651.0118105588042</real>
					<key>srcPointY</key>
					<real>167.45665011476962</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>701</real>
			<key>y</key>
			<real>168</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetLowCarryBit</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>576.84963720928567</real>
					<key>controlPoint1Y</key>
					<real>304.05592667097778</real>
					<key>controlPoint2X</key>
					<real>437.37053066249189</real>
					<key>controlPoint2Y</key>
					<real>315.20514334670844</real>
					<key>dstPointX</key>
					<real>367.63097738909499</real>
					<key>dstPointY</key>
					<real>320.77975168457363</real>
					<key>srcPointX</key>
					<real>572.24855358953459</real>
					<key>srcPointY</key>
					<real>299.55194724595617</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>621</real>
			<key>y</key>
			<real>294</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForNewInput</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>389</real>
					<key>controlPoint1Y</key>
					<real>100</real>
					<key>controlPoint2X</key>
					<real>367</real>
					<key>controlPoint2Y</key>
					<real>162</real>
					<key>dstPointX</key>
					<real>326.96459832683865</real>
					<key>dstPointY</key>
					<real>186.09292128648116</real>
					<key>srcPointX</key>
					<real>711.05212815922209</real>
					<key>srcPointY</key>
					<real>84.14128201786724</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>761</real>
			<key>y</key>
			<real>83</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
