<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindSmallest</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>480.43516592541511</real>
					<key>controlPoint1Y</key>
					<real>199.43966998583073</real>
					<key>controlPoint2X</key>
					<real>485.71758296270758</real>
					<key>controlPoint2Y</key>
					<real>239.21983499291537</real>
					<key>dstPointX</key>
					<real>489.53891688118154</real>
					<key>dstPointY</key>
					<real>254.21788831231885</real>
					<key>srcPointX</key>
					<real>475.00520496164194</real>
					<key>srcPointY</key>
					<real>159.68455939074988</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>459</real>
			<key>y</key>
			<real>136</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>321.96897371252106</real>
					<key>controlPoint1Y</key>
					<real>98.392126477279518</real>
					<key>controlPoint2X</key>
					<real>361.9844868562605</real>
					<key>controlPoint2Y</key>
					<real>111.69606323863975</real>
					<key>dstPointX</key>
					<real>410.4987691513989</real>
					<key>dstPointY</key>
					<real>129.92483320865369</real>
					<key>srcPointX</key>
					<real>292.37291452561135</real>
					<key>srcPointY</key>
					<real>84.325763596157785</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<true/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>244</real>
			<key>y</key>
			<real>78</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>90.752181058008304</real>
					<key>controlPoint1Y</key>
					<real>134.63131599768596</real>
					<key>controlPoint2X</key>
					<real>97.876090529004159</real>
					<key>controlPoint2Y</key>
					<real>119.31565799884299</real>
					<key>dstPointX</key>
					<real>195.88623387696947</real>
					<key>dstPointY</key>
					<real>84.801939235584214</real>
					<key>srcPointX</key>
					<real>86.398190659255334</real>
					<key>srcPointY</key>
					<real>148.85221548312197</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>116</real>
			<key>y</key>
			<real>169</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LatchDistance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>438.60552833331593</real>
					<key>controlPoint1Y</key>
					<real>216.47901970447558</real>
					<key>controlPoint2X</key>
					<real>432.80276416665794</real>
					<key>controlPoint2Y</key>
					<real>179.73950985223777</real>
					<key>dstPointX</key>
					<real>433.30872932781853</real>
					<key>dstPointY</key>
					<real>157.4473693681108</real>
					<key>srcPointX</key>
					<real>444.73110841430412</real>
					<key>srcPointY</key>
					<real>253.14626926578887</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>465</real>
			<key>y</key>
			<real>276</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>103</real>
			<key>y</key>
			<real>270</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
