<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Compare</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>387.60719183739155</real>
					<key>controlPoint1Y</key>
					<real>295.8716125895516</real>
					<key>controlPoint2X</key>
					<real>355.30359591869575</real>
					<key>controlPoint2Y</key>
					<real>405.43580629477583</real>
					<key>dstPointX</key>
					<real>338.86066738828282</real>
					<key>dstPointY</key>
					<real>482.12972264103939</real>
					<key>srcPointX</key>
					<real>435.12785628574164</real>
					<key>srcPointY</key>
					<real>215.66539309603408</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>613.26027258187196</real>
					<key>controlPoint1Y</key>
					<real>168.68598136092334</real>
					<key>controlPoint2X</key>
					<real>713.13013629093587</real>
					<key>controlPoint2Y</key>
					<real>149.34299068046167</real>
					<key>dstPointX</key>
					<real>757.52255779865482</real>
					<key>dstPointY</key>
					<real>126.84047960934028</real>
					<key>srcPointX</key>
					<real>515.1614922836103</real>
					<key>srcPointY</key>
					<real>191.44073261234524</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>466</real>
			<key>y</key>
			<real>196</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Green</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>704.0250133540876</real>
					<key>controlPoint1Y</key>
					<real>167.89605171167895</real>
					<key>controlPoint2X</key>
					<real>652.5125066770438</real>
					<key>controlPoint2Y</key>
					<real>220.44802585583946</real>
					<key>dstPointX</key>
					<real>604.82353352081384</real>
					<key>dstPointY</key>
					<real>262.09510774171542</real>
					<key>srcPointX</key>
					<real>759.99853735673241</real>
					<key>srcPointY</key>
					<real>129.89573723947342</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>805</real>
			<key>y</key>
			<real>119</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Red</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>382.69191345048256</real>
					<key>controlPoint1Y</key>
					<real>417.63082542069577</real>
					<key>controlPoint2X</key>
					<real>468.34595672524125</real>
					<key>controlPoint2Y</key>
					<real>350.31541271034786</real>
					<key>dstPointX</key>
					<real>523.03627717760492</real>
					<key>dstPointY</key>
					<real>290.66706979479227</real>
					<key>srcPointX</key>
					<real>351.66289819539872</real>
					<key>srcPointY</key>
					<real>485.17475052111615</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>324</real>
			<key>y</key>
			<real>506</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Wait</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>505.72566174667514</real>
					<key>controlPoint1Y</key>
					<real>243.00790953173396</real>
					<key>controlPoint2X</key>
					<real>494.3628308733376</real>
					<key>controlPoint2Y</key>
					<real>222.00395476586698</real>
					<key>dstPointX</key>
					<real>502.85466923880989</real>
					<key>dstPointY</key>
					<real>212.89477252952759</real>
					<key>srcPointX</key>
					<real>518.53315667232118</real>
					<key>srcPointY</key>
					<real>262.64449989754536</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>562</real>
			<key>y</key>
			<real>275</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
