<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>ChangeDigit</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>385.3213837494024</real>
					<key>controlPoint1Y</key>
					<real>333.74960997954213</real>
					<key>controlPoint2X</key>
					<real>386.66069187470117</real>
					<key>controlPoint2Y</key>
					<real>296.37480498977106</real>
					<key>dstPointX</key>
					<real>383.94173790497837</real>
					<key>dstPointY</key>
					<real>279.69259486028199</real>
					<key>srcPointX</key>
					<real>384.05140676515612</real>
					<key>srcPointY</key>
					<real>371.12791077486185</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>261.64713331376839</real>
					<key>controlPoint1Y</key>
					<real>366.98742201651993</real>
					<key>controlPoint2X</key>
					<real>192.82356665688417</real>
					<key>controlPoint2Y</key>
					<real>343.99371100825994</real>
					<key>dstPointX</key>
					<real>161.83302969953604</real>
					<key>dstPointY</key>
					<real>327.28013169117327</real>
					<key>srcPointX</key>
					<real>330.46134925993755</real>
					<key>srcPointY</key>
					<real>390.0000128263838</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>379</real>
			<key>y</key>
			<real>396</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>366.62361557510445</real>
					<key>controlPoint1Y</key>
					<real>111.51345757567674</real>
					<key>controlPoint2X</key>
					<real>412.31180778755225</real>
					<key>controlPoint2Y</key>
					<real>114.75672878783837</real>
					<key>dstPointX</key>
					<real>477.2385455495604</real>
					<key>dstPointY</key>
					<real>123.56085819514209</real>
					<key>srcPointX</key>
					<real>334.88632279745354</real>
					<key>srcPointY</key>
					<real>107.68484403938953</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>285</real>
			<key>y</key>
			<real>106</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>156.33688678045741</real>
					<key>controlPoint1Y</key>
					<real>101.63458649869062</real>
					<key>controlPoint2X</key>
					<real>199.67342965200083</real>
					<key>controlPoint2Y</key>
					<real>107.15670375059193</real>
					<key>dstPointX</key>
					<real>235.00459362843893</real>
					<key>dstPointY</key>
					<real>106.33887377534627</real>
					<key>srcPointX</key>
					<real>134.66861534468569</real>
					<key>srcPointY</key>
					<real>98.873527872739956</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>85</real>
			<key>y</key>
			<real>96</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>114</real>
			<key>y</key>
			<real>320</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SendToDisplays</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>539</real>
					<key>controlPoint1Y</key>
					<real>364</real>
					<key>controlPoint2X</key>
					<real>471</real>
					<key>controlPoint2Y</key>
					<real>386</real>
					<key>dstPointX</key>
					<real>427.93953126264341</real>
					<key>dstPointY</key>
					<real>401.12157885306732</real>
					<key>srcPointX</key>
					<real>454.05892376882764</real>
					<key>srcPointY</key>
					<real>272.51893978283749</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>412</real>
			<key>y</key>
			<real>259</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForBCDEncoding</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>463.39734913043259</real>
					<key>controlPoint1Y</key>
					<real>188.9558484893943</real>
					<key>controlPoint2X</key>
					<real>458.69867456521632</real>
					<key>controlPoint2Y</key>
					<real>221.97792424469716</real>
					<key>dstPointX</key>
					<real>451.18093044479099</real>
					<key>dstPointY</key>
					<real>243.46894490480082</real>
					<key>srcPointX</key>
					<real>491.46443452715528</real>
					<key>srcPointY</key>
					<real>143.587094604604</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<true/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>527</real>
			<key>y</key>
			<real>126</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
