<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BcdEncode</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>721.8536376953125</real>
					<key>controlPoint1Y</key>
					<real>168.42172567836235</real>
					<key>controlPoint2X</key>
					<real>810</real>
					<key>controlPoint2Y</key>
					<real>150.2640043021064</real>
					<key>dstPointX</key>
					<real>810</real>
					<key>dstPointY</key>
					<real>174.72857666015625</real>
					<key>srcPointX</key>
					<real>721.8536376953125</real>
					<key>srcPointY</key>
					<real>143.9571533203125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>110</real>
			<key>internalHeight</key>
			<real>15</real>
			<key>onEntryHeight</key>
			<real>29</real>
			<key>onExitHeight</key>
			<real>18</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>260</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>95.0428466796875</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>477.2718220895398</real>
					<key>controlPoint1Y</key>
					<real>102.84133911132812</real>
					<key>controlPoint2X</key>
					<real>619.4996622854602</real>
					<key>controlPoint2Y</key>
					<real>101.49998474121094</real>
					<key>dstPointX</key>
					<real>685</real>
					<key>dstPointY</key>
					<real>101.49998474121094</real>
					<key>srcPointX</key>
					<real>411.771484375</real>
					<key>srcPointY</key>
					<real>102.84133911132812</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>136</real>
			<key>internalHeight</key>
			<real>39</real>
			<key>onEntryHeight</key>
			<real>21</real>
			<key>onExitHeight</key>
			<real>29</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>270</real>
			<key>x</key>
			<real>283.228515625</real>
			<key>y</key>
			<real>113.54283142089844</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>54</real>
			<key>internalHeight</key>
			<real>25</real>
			<key>onEntryHeight</key>
			<real>30</real>
			<key>onExitHeight</key>
			<real>2</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>206.771484375</real>
			<key>y</key>
			<real>217</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>StartSevSeg</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>665</real>
					<key>controlPoint1Y</key>
					<real>225.541259765625</real>
					<key>controlPoint2X</key>
					<real>668.228515625</real>
					<key>controlPoint2Y</key>
					<real>224.114501953125</real>
					<key>dstPointX</key>
					<real>648.228515625</real>
					<key>dstPointY</key>
					<real>224.114501953125</real>
					<key>srcPointX</key>
					<real>685</real>
					<key>srcPointY</key>
					<real>225.541259765625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>110</real>
			<key>internalHeight</key>
			<real>15</real>
			<key>onEntryHeight</key>
			<real>29</real>
			<key>onExitHeight</key>
			<real>18</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>260</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>224.27142333984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForFinish</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>355.71740176912539</real>
					<key>controlPoint1Y</key>
					<real>220.34116852138357</real>
					<key>controlPoint2X</key>
					<real>295.294678324595</real>
					<key>controlPoint2Y</key>
					<real>218.1800223310174</real>
					<key>dstPointX</key>
					<real>251.99265399706192</real>
					<key>dstPointY</key>
					<real>217.39750193385581</real>
					<key>srcPointX</key>
					<real>399.228515625</real>
					<key>srcPointY</key>
					<real>216.27142333984375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>110</real>
			<key>internalHeight</key>
			<real>12</real>
			<key>onEntryHeight</key>
			<real>33</real>
			<key>onExitHeight</key>
			<real>17</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>260</real>
			<key>x</key>
			<real>523.771484375</real>
			<key>y</key>
			<real>222.72857666015625</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
