<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>FindMinimum</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>725.89230101792054</real>
					<key>controlPoint1Y</key>
					<real>240.78568082204109</real>
					<key>controlPoint2X</key>
					<real>628.8189697265625</real>
					<key>controlPoint2Y</key>
					<real>209.227783203125</real>
					<key>dstPointX</key>
					<real>588</real>
					<key>dstPointY</key>
					<real>225.04730224609375</real>
					<key>srcPointX</key>
					<real>714.36777734635098</real>
					<key>srcPointY</key>
					<real>272.50301162301946</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>14</real>
			<key>onEntryHeight</key>
			<real>53</real>
			<key>onExitHeight</key>
			<real>12</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>699.2286376953125</real>
			<key>y</key>
			<real>296</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>604.50309566691658</real>
					<key>controlPoint1Y</key>
					<real>124.59574587934554</real>
					<key>controlPoint2X</key>
					<real>617.95374011596095</real>
					<key>controlPoint2Y</key>
					<real>125.63283078081072</real>
					<key>dstPointX</key>
					<real>641</real>
					<key>dstPointY</key>
					<real>127</real>
					<key>srcPointX</key>
					<real>580</real>
					<key>srcPointY</key>
					<real>123.22857666015625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>125</real>
			<key>internalHeight</key>
			<real>15</real>
			<key>onEntryHeight</key>
			<real>27</real>
			<key>onExitHeight</key>
			<real>36</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>317</real>
			<key>x</key>
			<real>427.7286376953125</real>
			<key>y</key>
			<real>125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ReadSonar</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1081.5029329177819</real>
					<key>controlPoint1Y</key>
					<real>168.62809176113956</real>
					<key>controlPoint2X</key>
					<real>956.50044940990085</real>
					<key>controlPoint2Y</key>
					<real>172.04862884130227</real>
					<key>dstPointX</key>
					<real>956.5428466796875</real>
					<key>dstPointY</key>
					<real>203</real>
					<key>srcPointX</key>
					<real>1078.22923469338</real>
					<key>srcPointY</key>
					<real>137.36406107504473</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>22</real>
			<key>onEntryHeight</key>
			<real>29</real>
			<key>onExitHeight</key>
			<real>14</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1073.7714233398438</real>
			<key>y</key>
			<real>113</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.45000000000000001</real>
				<key>green</key>
				<real>0.41999999999999998</real>
				<key>red</key>
				<real>0.23999999999999999</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>60</real>
			<key>internalHeight</key>
			<real>58</real>
			<key>onEntryHeight</key>
			<real>41</real>
			<key>onExitHeight</key>
			<real>19</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>309.685791015625</real>
			<key>y</key>
			<real>268.77142333984375</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SetMinimum</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>584.34019633047762</real>
					<key>controlPoint1Y</key>
					<real>212.03059834859761</real>
					<key>controlPoint2X</key>
					<real>648.64330197637355</real>
					<key>controlPoint2Y</key>
					<real>173.29650868601686</real>
					<key>dstPointX</key>
					<real>647.58429394871234</real>
					<key>dstPointY</key>
					<real>176.83303175839123</real>
					<key>srcPointX</key>
					<real>582.2789626295089</real>
					<key>srcPointY</key>
					<real>208.99602819821857</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>125</real>
			<key>internalHeight</key>
			<real>19</real>
			<key>onEntryHeight</key>
			<real>41</real>
			<key>onExitHeight</key>
			<real>18</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>236</real>
			<key>x</key>
			<real>476.2286376953125</real>
			<key>y</key>
			<real>260</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>StartFusion</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>722.635009765625</real>
					<key>controlPoint1Y</key>
					<real>188.88314819335938</real>
					<key>controlPoint2X</key>
					<real>740.70223282145867</real>
					<key>controlPoint2Y</key>
					<real>248.69315695390534</real>
					<key>dstPointX</key>
					<real>723.54826007460827</real>
					<key>dstPointY</key>
					<real>275.04750429352009</real>
					<key>srcPointX</key>
					<real>828.34375977178831</real>
					<key>srcPointY</key>
					<real>205.48551957222065</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>125</real>
			<key>internalHeight</key>
			<real>13</real>
			<key>onEntryHeight</key>
			<real>35</real>
			<key>onExitHeight</key>
			<real>30</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>326</real>
			<key>x</key>
			<real>975.5428466796875</real>
			<key>y</key>
			<real>260</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>StartSonars</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>932.40036437753906</real>
					<key>controlPoint1Y</key>
					<real>113.33296203613281</real>
					<key>controlPoint2X</key>
					<real>992.20429568758027</real>
					<key>controlPoint2Y</key>
					<real>114.62993308202223</real>
					<key>dstPointX</key>
					<real>1028.5919301995887</real>
					<key>dstPointY</key>
					<real>113.66734207951609</real>
					<key>srcPointX</key>
					<real>896</real>
					<key>srcPointY</key>
					<real>113.33296203613281</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>125</real>
			<key>internalHeight</key>
			<real>13</real>
			<key>onEntryHeight</key>
			<real>30</real>
			<key>onExitHeight</key>
			<real>35</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>266</real>
			<key>x</key>
			<real>769.22857666015625</real>
			<key>y</key>
			<real>125.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
