<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BCDEncode</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1032.1448583969013</real>
					<key>controlPoint1Y</key>
					<real>130.44720847663453</real>
					<key>controlPoint2X</key>
					<real>1057.0724291984507</real>
					<key>controlPoint2Y</key>
					<real>155.22360423831728</real>
					<key>dstPointX</key>
					<real>1065.9717638271636</real>
					<key>dstPointY</key>
					<real>175.71115962939993</real>
					<key>srcPointX</key>
					<real>1007.2313550332738</real>
					<key>srcPointY</key>
					<real>105.65747862876536</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>963</real>
			<key>y</key>
			<real>94</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CompareDigitSelect</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1113.9940565154463</real>
					<key>controlPoint1Y</key>
					<real>394.44460131504712</real>
					<key>controlPoint2X</key>
					<real>1201.4970282577231</real>
					<key>controlPoint2Y</key>
					<real>472.22230065752359</real>
					<key>dstPointX</key>
					<real>1240.1874443337711</real>
					<key>dstPointY</key>
					<real>530.0550427139982</real>
					<key>srcPointX</key>
					<real>1026.5332926171811</real>
					<key>srcPointY</key>
					<real>316.63772685229821</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>998.34125366555236</real>
					<key>controlPoint1Y</key>
					<real>404.54575236821898</real>
					<key>controlPoint2X</key>
					<real>1004.6706268327762</real>
					<key>controlPoint2Y</key>
					<real>482.27287618410946</real>
					<key>dstPointX</key>
					<real>1006.2430907404804</real>
					<key>dstPointY</key>
					<real>528.07067172577786</real>
					<key>srcPointX</key>
					<real>991.9743277539435</real>
					<key>srcPointY</key>
					<real>326.82089547079465</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>892.94195957281534</real>
					<key>controlPoint1Y</key>
					<real>401.52655684692655</real>
					<key>controlPoint2X</key>
					<real>833.97097978640761</real>
					<key>controlPoint2Y</key>
					<real>482.7632784234633</real>
					<key>dstPointX</key>
					<real>802.32579021676395</real>
					<key>dstPointY</key>
					<real>544.12321424545189</real>
					<key>srcPointX</key>
					<real>951.8514302083621</real>
					<key>srcPointY</key>
					<real>320.26112798532472</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>986</real>
			<key>y</key>
			<real>302</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ConvertDistance1</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>825.41760893951903</real>
					<key>controlPoint1Y</key>
					<real>122.56477646263738</real>
					<key>controlPoint2X</key>
					<real>884.70880446975946</real>
					<key>controlPoint2Y</key>
					<real>106.78238823131869</real>
					<key>dstPointX</key>
					<real>913.65337121951586</real>
					<key>dstPointY</key>
					<real>98.028344200819319</real>
					<key>srcPointX</key>
					<real>766.13480994622853</real>
					<key>srcPointY</key>
					<real>138.36938309865727</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<true/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>143</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ConvertDistance2</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>848.88676468054109</real>
					<key>controlPoint1Y</key>
					<real>171.31309357428191</real>
					<key>controlPoint2X</key>
					<real>893.94338234027055</real>
					<key>controlPoint2Y</key>
					<real>132.65654678714097</real>
					<key>dstPointX</key>
					<real>919.37061687982964</real>
					<key>dstPointY</key>
					<real>106.21143857775768</real>
					<key>srcPointX</key>
					<real>803.43435330772877</real>
					<key>srcPointY</key>
					<real>209.61596841957964</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>760</real>
			<key>y</key>
			<real>222</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CreateSeparator</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>842.81127361028268</real>
					<key>controlPoint1Y</key>
					<real>292.77102665594759</real>
					<key>controlPoint2X</key>
					<real>899.9056368051414</real>
					<key>controlPoint2Y</key>
					<real>299.8855133279738</real>
					<key>dstPointX</key>
					<real>936.01507315123058</real>
					<key>dstPointY</key>
					<real>301.38618245317224</real>
					<key>srcPointX</key>
					<real>706.93564545782067</real>
					<key>srcPointY</key>
					<real>370.03656341185581</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>662</real>
			<key>y</key>
			<real>381</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>EncoderFinished</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>365.84147349805068</real>
					<key>controlPoint1Y</key>
					<real>617.78811989910184</real>
					<key>controlPoint2X</key>
					<real>354.42073674902531</real>
					<key>controlPoint2Y</key>
					<real>582.89405994955086</real>
					<key>dstPointX</key>
					<real>355.7554406360814</real>
					<key>dstPointY</key>
					<real>566.69743478855753</real>
					<key>srcPointX</key>
					<real>395.82318073098332</real>
					<key>srcPointY</key>
					<real>670.29639965681065</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>429</real>
			<key>y</key>
			<real>689</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Encoding</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1056.4177968550755</real>
					<key>controlPoint1Y</key>
					<real>225.31199986451895</real>
					<key>controlPoint2X</key>
					<real>1034.3646089985814</real>
					<key>controlPoint2Y</key>
					<real>265.35244552445766</real>
					<key>dstPointX</key>
					<real>1025.8515536554046</real>
					<key>dstPointY</key>
					<real>286.90154253532495</real>
					<key>srcPointX</key>
					<real>1066.0020561690881</real>
					<key>srcPointY</key>
					<real>204.3105607999598</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1107</real>
			<key>y</key>
			<real>190</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>208.97990776036386</real>
					<key>controlPoint1Y</key>
					<real>122.69905351226491</real>
					<key>controlPoint2X</key>
					<real>268.98995388018193</real>
					<key>controlPoint2Y</key>
					<real>140.34952675613246</real>
					<key>dstPointX</key>
					<real>304.22870273691461</real>
					<key>dstPointY</key>
					<real>158.61922839735016</real>
					<key>srcPointX</key>
					<real>148.94947777557167</real>
					<key>srcPointY</key>
					<real>105.09775993694332</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>100</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>93.880289604830708</real>
					<key>controlPoint1Y</key>
					<real>166.42558730521276</real>
					<key>controlPoint2X</key>
					<real>95.155981082517798</real>
					<key>controlPoint2Y</key>
					<real>138.7494514205361</real>
					<key>dstPointX</key>
					<real>93.797837804918672</real>
					<key>dstPointY</key>
					<real>124.80692032531398</real>
					<key>srcPointX</key>
					<real>96.007705732568041</real>
					<key>srcPointY</key>
					<real>180.50588935085455</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>86</real>
			<key>y</key>
			<real>205</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>LeastSignificantNibble</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1099.1558741072868</real>
					<key>controlPoint1Y</key>
					<real>625.71197900230618</real>
					<key>controlPoint2X</key>
					<real>969.07793705364338</real>
					<key>controlPoint2Y</key>
					<real>693.35598950115309</real>
					<key>dstPointX</key>
					<real>870.85333649473353</real>
					<key>dstPointY</key>
					<real>746.03165595120311</real>
					<key>srcPointX</key>
					<real>1229.2669593765329</real>
					<key>srcPointY</key>
					<real>558.10555534510968</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1275</real>
			<key>y</key>
			<real>548</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MiddleNibble</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>924.75186249252022</real>
					<key>controlPoint1Y</key>
					<real>633.7694486979301</real>
					<key>controlPoint2X</key>
					<real>875.87593124626017</real>
					<key>controlPoint2Y</key>
					<real>697.38472434896505</real>
					<key>dstPointX</key>
					<real>857.77448651222596</real>
					<key>dstPointY</key>
					<real>737.11989781635225</real>
					<key>srcPointX</key>
					<real>973.70407818401225</real>
					<key>srcPointY</key>
					<real>570.19451990844539</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>1010</real>
			<key>y</key>
			<real>553</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MostSignificantNibble</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>796.43830324066823</real>
					<key>controlPoint1Y</key>
					<real>645.31793172560072</real>
					<key>controlPoint2X</key>
					<real>806.71915162033417</real>
					<key>controlPoint2Y</key>
					<real>702.6589658628003</real>
					<key>dstPointX</key>
					<real>808.78973978429121</real>
					<key>dstPointY</key>
					<real>732.35033053223049</real>
					<key>srcPointX</key>
					<real>786.39058138885832</real>
					<key>srcPointY</key>
					<real>587.94217600433717</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>772</real>
			<key>y</key>
			<real>564</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ResetDigit</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>428.04594753724763</real>
					<key>controlPoint1Y</key>
					<real>202.55053756523773</real>
					<key>controlPoint2X</key>
					<real>459.02297376862379</real>
					<key>controlPoint2Y</key>
					<real>228.27526878261884</real>
					<key>dstPointX</key>
					<real>468.52392577774771</real>
					<key>dstPointY</key>
					<real>244.57766637485244</real>
					<key>srcPointX</key>
					<real>397.0649383936302</real>
					<key>srcPointY</key>
					<real>176.82995068754141</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>352</real>
			<key>y</key>
			<real>166</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>111</real>
			<key>y</key>
			<real>509</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SelectDistance</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>595.07268395481049</real>
					<key>controlPoint1Y</key>
					<real>217.81068864797899</real>
					<key>controlPoint2X</key>
					<real>632.0363419774053</real>
					<key>controlPoint2Y</key>
					<real>190.40534432398951</real>
					<key>dstPointX</key>
					<real>673.3365653386021</real>
					<key>dstPointY</key>
					<real>155.18097362251714</real>
					<key>srcPointX</key>
					<real>558.3326819387313</real>
					<key>srcPointY</key>
					<real>245.45310533567073</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>578.51268637383214</real>
					<key>controlPoint1Y</key>
					<real>288.60232671222684</real>
					<key>controlPoint2X</key>
					<real>615.89682955743478</real>
					<key>controlPoint2Y</key>
					<real>336.26189445912718</real>
					<key>dstPointX</key>
					<real>626.11743003123399</real>
					<key>dstPointY</key>
					<real>363.58993701593374</real>
					<key>srcPointX</key>
					<real>557.76337473141461</real>
					<key>srcPointY</key>
					<real>267.13822565150025</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>586.33095001111462</real>
					<key>controlPoint1Y</key>
					<real>266.15092517789083</real>
					<key>controlPoint2X</key>
					<real>674.35875900146516</real>
					<key>controlPoint2Y</key>
					<real>245.9495553874132</real>
					<key>dstPointX</key>
					<real>711.84742309250396</real>
					<key>dstPointY</key>
					<real>228.73292910195264</real>
					<key>srcPointX</key>
					<real>562.52773105093308</real>
					<key>srcPointY</key>
					<real>259.42796794568</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>513</real>
			<key>y</key>
			<real>256</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SendToDisplay</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>330.44779594223399</real>
					<key>controlPoint1Y</key>
					<real>479.11361777610364</real>
					<key>controlPoint2X</key>
					<real>329.72389797111697</real>
					<key>controlPoint2Y</key>
					<real>439.05680888805182</real>
					<key>dstPointX</key>
					<real>281.02054332376923</real>
					<key>dstPointY</key>
					<real>417.96468626159862</real>
					<key>srcPointX</key>
					<real>334.55826404823887</real>
					<key>srcPointY</key>
					<real>517.92034191167193</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>348</real>
			<key>y</key>
			<real>542</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>UpdateDigit</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>371.09117824758295</real>
					<key>controlPoint1Y</key>
					<real>275.66135912804515</real>
					<key>controlPoint2X</key>
					<real>430.54558912379144</real>
					<key>controlPoint2Y</key>
					<real>265.3306795640226</real>
					<key>dstPointX</key>
					<real>463.31709691430979</real>
					<key>dstPointY</key>
					<real>258.8111003618651</real>
					<key>srcPointX</key>
					<real>311.63038686271693</real>
					<key>srcPointY</key>
					<real>285.96583208041096</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>309.72743157354665</real>
					<key>controlPoint1Y</key>
					<real>236.98813715102435</real>
					<key>controlPoint2X</key>
					<real>323.8637157867733</real>
					<key>controlPoint2Y</key>
					<real>203.49406857551216</real>
					<key>dstPointX</key>
					<real>321.98926130020715</real>
					<key>dstPointY</key>
					<real>185.99597186118217</real>
					<key>srcPointX</key>
					<real>295.80542917310152</real>
					<key>srcPointY</key>
					<real>270.57995006506212</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>289</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForDataToSend</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>249.39180223645178</real>
					<key>controlPoint1Y</key>
					<real>357.0816228786743</real>
					<key>controlPoint2X</key>
					<real>254.69590111822586</real>
					<key>controlPoint2Y</key>
					<real>327.54081143933712</real>
					<key>dstPointX</key>
					<real>252.68991896517625</real>
					<key>dstPointY</key>
					<real>313.56278888443359</real>
					<key>srcPointX</key>
					<real>247.54335120895323</real>
					<key>srcPointY</key>
					<real>387.08091277027364</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>233</real>
			<key>y</key>
			<real>411</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitForEncoder</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>716.85114142857435</real>
					<key>controlPoint1Y</key>
					<real>767.41768683522048</real>
					<key>controlPoint2X</key>
					<real>658.42557071428712</real>
					<key>controlPoint2Y</key>
					<real>776.2088434176103</real>
					<key>dstPointX</key>
					<real>611.49631881208666</real>
					<key>dstPointY</key>
					<real>786.46042290477089</real>
					<key>srcPointX</key>
					<real>775.2763378465645</real>
					<key>srcPointY</key>
					<real>758.62475818176699</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>825</real>
			<key>y</key>
			<real>756</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WaitToFinish</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>489.07996013510655</real>
					<key>controlPoint1Y</key>
					<real>756.00277695725072</real>
					<key>controlPoint2X</key>
					<real>461.53998006755324</real>
					<key>controlPoint2Y</key>
					<real>732.50138847862536</real>
					<key>dstPointX</key>
					<real>458.94928186029443</real>
					<key>dstPointY</key>
					<real>709.01899420583266</real>
					<key>srcPointX</key>
					<real>516.68319446118596</real>
					<key>srcPointY</key>
					<real>779.43606210074438</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>562</real>
			<key>y</key>
			<real>790</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
