**/*.pdf
!**/Figures/*.pdf
**/*.log
**/*.aux
**/*.dvi
**/*.lof
**/*.lot
**/*.bit
**/*.idx
**/*.glo
**/*.bbl
**/*.bcf
**/*.ilg
**/*.toc
**/*.ind
**/*.out
**/*.blg
**/*.sta
**/*.stp
**/*.synctex.gz
**/_minted-*
**/*-converted-to.pdf
