<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Check</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>726.26185390157173</real>
					<key>controlPoint1Y</key>
					<real>163.90910745927934</real>
					<key>controlPoint2X</key>
					<real>769.63092695078592</real>
					<key>controlPoint2Y</key>
					<real>159.45455372963966</real>
					<key>dstPointX</key>
					<real>841.30442622749331</real>
					<key>dstPointY</key>
					<real>148.75453931816855</real>
					<key>srcPointX</key>
					<real>682.89370638118578</real>
					<key>srcPointY</key>
					<real>168.37073148713725</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>522.54336654789768</real>
					<key>controlPoint1Y</key>
					<real>208.84675611258737</real>
					<key>controlPoint2X</key>
					<real>459.27168327394884</real>
					<key>controlPoint2Y</key>
					<real>239.42337805629367</real>
					<key>dstPointX</key>
					<real>413.30734345893597</real>
					<key>dstPointY</key>
					<real>267.57092340448787</real>
					<key>srcPointX</key>
					<real>585.83202584616129</real>
					<key>srcPointY</key>
					<real>178.29430850376929</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>633</real>
			<key>y</key>
			<real>170</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CheckDecrease</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>354</real>
					<key>controlPoint1Y</key>
					<real>395</real>
					<key>controlPoint2X</key>
					<real>474</real>
					<key>controlPoint2Y</key>
					<real>444</real>
					<key>dstPointX</key>
					<real>538.21793657767876</real>
					<key>dstPointY</key>
					<real>434.53605082439651</real>
					<key>srcPointX</key>
					<real>406.93547045948236</real>
					<key>srcPointY</key>
					<real>292.04292357871145</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>441.95563954920772</real>
					<key>controlPoint1Y</key>
					<real>306.84848458720268</real>
					<key>controlPoint2X</key>
					<real>470.47781977460386</real>
					<key>controlPoint2Y</key>
					<real>327.42424229360131</real>
					<key>dstPointX</key>
					<real>474.37743330984256</real>
					<key>dstPointY</key>
					<real>337.96761001697467</real>
					<key>srcPointX</key>
					<real>413.45236651259171</real>
					<key>srcPointY</key>
					<real>286.24902218318033</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>367</real>
			<key>y</key>
			<real>277</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>CheckIncrease</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>965.83188630255461</real>
					<key>controlPoint1Y</key>
					<real>193.58058154697196</real>
					<key>controlPoint2X</key>
					<real>998.41594315127725</real>
					<key>controlPoint2Y</key>
					<real>227.79029077348596</real>
					<key>dstPointX</key>
					<real>868.9160241476842</real>
					<key>dstPointY</key>
					<real>370.60719107344244</real>
					<key>srcPointX</key>
					<real>933.19321270153773</real>
					<key>srcPointY</key>
					<real>159.41391816288959</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>839.6011066609675</real>
					<key>controlPoint1Y</key>
					<real>200.85638550701825</real>
					<key>controlPoint2X</key>
					<real>822.30055333048369</real>
					<key>controlPoint2Y</key>
					<real>237.42819275350914</real>
					<key>dstPointX</key>
					<real>820.09684802067102</real>
					<key>dstPointY</key>
					<real>252.71875737860088</real>
					<key>srcPointX</key>
					<real>856.81319951840101</real>
					<key>srcPointY</key>
					<real>164.24323623176096</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>891</real>
			<key>y</key>
			<real>146</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>DecrementCount</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>571.99323350474913</real>
					<key>controlPoint1Y</key>
					<real>276.87414096936629</real>
					<key>controlPoint2X</key>
					<real>593.49661675237451</real>
					<key>controlPoint2Y</key>
					<real>226.93707048468318</real>
					<key>dstPointX</key>
					<real>604.49785697985908</real>
					<key>dstPointY</key>
					<real>190.54037392100878</real>
					<key>srcPointX</key>
					<real>550.40579707793404</real>
					<key>srcPointY</key>
					<real>326.78058421831031</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>521</real>
			<key>y</key>
			<real>347</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>IncrementCount</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>736.35099013678837</real>
					<key>controlPoint1Y</key>
					<real>235.7806753704173</real>
					<key>controlPoint2X</key>
					<real>686.67549506839407</real>
					<key>controlPoint2Y</key>
					<real>204.39033768520866</real>
					<key>dstPointX</key>
					<real>675.10002492381193</real>
					<key>dstPointY</key>
					<real>183.4869186752795</real>
					<key>srcPointX</key>
					<real>786.08227818472903</real>
					<key>srcPointY</key>
					<real>267.10602679284773</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>832</real>
			<key>y</key>
			<real>277</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>362.63833277065322</real>
					<key>controlPoint1Y</key>
					<real>105.68704504787421</real>
					<key>controlPoint2X</key>
					<real>539</real>
					<key>controlPoint2Y</key>
					<real>138</real>
					<key>dstPointX</key>
					<real>584.72390850593172</real>
					<key>dstPointY</key>
					<real>163.49194748683701</real>
					<key>srcPointX</key>
					<real>303.4203982661374</real>
					<key>srcPointY</key>
					<real>92.795531425780922</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>254</real>
			<key>y</key>
			<real>89</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>InitialPseudoState</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>182.24615519411336</real>
					<key>controlPoint1Y</key>
					<real>148.83487518007794</real>
					<key>controlPoint2X</key>
					<real>210.18531878546963</real>
					<key>controlPoint2Y</key>
					<real>123.43816072252972</real>
					<key>dstPointX</key>
					<real>214.68946211293169</real>
					<key>dstPointY</key>
					<real>104.44896121936171</real>
					<key>srcPointX</key>
					<real>168.27657339843523</real>
					<key>srcPointY</key>
					<real>161.53323240885206</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>122</real>
			<key>y</key>
			<real>171</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MaxCount</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>611.78136020291959</real>
					<key>controlPoint1Y</key>
					<real>341.40037924681934</real>
					<key>controlPoint2X</key>
					<real>629.89068010145979</real>
					<key>controlPoint2Y</key>
					<real>257.7001896234097</real>
					<key>dstPointX</key>
					<real>631.22841457380798</real>
					<key>dstPointY</key>
					<real>194.98430249715662</real>
					<key>srcPointX</key>
					<real>593.57176984103057</real>
					<key>srcPointY</key>
					<real>425.08523717606619</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>579</real>
			<key>y</key>
			<real>449</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>ResetCount</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>746.72476094094725</real>
					<key>controlPoint1Y</key>
					<real>309.42467756420132</real>
					<key>controlPoint2X</key>
					<real>697.36238047047357</real>
					<key>controlPoint2Y</key>
					<real>247.71233878210066</real>
					<key>dstPointX</key>
					<real>664.89271196590437</real>
					<key>dstPointY</key>
					<real>189.25392767372324</real>
					<key>srcPointX</key>
					<real>796.03356983944445</real>
					<key>srcPointY</key>
					<real>371.16638005964876</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>833</real>
			<key>y</key>
			<real>388</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SUSPENDED</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.92000000000000004</real>
				<key>green</key>
				<real>0.92000000000000004</real>
				<key>red</key>
				<real>0.92000000000000004</real>
			</dict>
			<key>editingMode</key>
			<false/>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>stateSelected</key>
			<false/>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>300</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
